[2017-07-01 22:19] marczellm opened #1 "Does not actually display toasts with the Windows Store version"
While the app can now launch the Windows Store version of Spotify Desktop, it does not actually display toasts for it. If I click the blue notification area icon, it says 'Nothing's playing' even though there is something playing.

[2017-07-01 22:21] marczellm opened #2 "Requires admin privileges"
The app currently requires admin privileges to start. Would it be possible to remove that requirement?

[2017-07-01 22:22] marczellm opened #3 "Error message on startup"
Even though the app successfully starts the Windows Store version of Spotify Desktop, an error message appears saying

Technical details: Object reference not set to an instance of an object.

[2017-07-02 00:51] aleab commented on #3
Thanks for the feedback marczellm!
I already encountered that error; it also affects the desktop version of Spotify, unfortunately.
Tomorrow I'll look into it.

A temporary solution is to start Spotify manually first and then start Toastify.

[2017-07-02 00:58] aleab commented on #1
That is odd! :confused:
When I tested it, it worked flawlessy. Tomorrow I'll re-install the Windows Store version and I'll test it again.

[2017-07-02 01:00] aleab commented on #2
Yeah, I do actually think it's possible.
I'll see what I can do.

[2017-07-02 01:06] aleab commented on #1
Did that happen after issue #3, perhaps?
I mean, did you start Toastify, get the *'Please start Spotify manually'* error and then tried to click the blue icon?

If that is the case, then the two issues are related. The only solution, at the moment, is to restart Toastify.

[2017-07-02 02:59] aleab commented on #2
Will be fixed in the next release (probably in a couple of days).

[2017-07-02 22:13] aleab commented on #3
A new release with the fixes is now available [here](https://github.com/aleab/toastify/releases/latest).

If you encounter other errors or have suggestions to improve this application, feel free to open other issues.

[2017-07-02 22:13] #2 closed

[2017-07-02 22:14] #1 closed

[2017-07-02 22:14] #3 closed

[2017-07-04 19:12] SK83RJOSH opened #4 "Volume Control"
I mostly use Toastify for the volume control, but the fact it uses the volume mixer has a few downsides.

Most notably I like I lose granular control over the volume, which is the case for anything that uses the volume mixer (curious if implementing something similar to Foobar's logarithmic volume control would help here?).

Not to mention the volume isn't reflected in Spotify itself, which is pro

[2017-07-04 23:47] aleab commented on #4
Thanks for the feedback, Josh!
I must admit I didn't really look into the volume controls since I forked this project. 😅
Currently, I think it changes the mixer's volume in steps of 4 or 5%; it is indeed not a fine granularity, but Spotify uses a larger one itself (16 steps to go from 0% to 100%, with the Ctrl-Up hotkey, so it's ~6%); I can definitely change the granularity, though, or even turn i

[2017-07-05 00:03] SK83RJOSH commented on #4
Don't worry, nothing stupid there at all. In fact I might be the stupid one, because you're probably right about the volume control in Windows being logarithmic. 😄

Anyways, I think having an option for the step size as well as an option to forward the shortcut would be perfect for my use case. I think having in app volume control is the best solution ultimately, but I can see the step size being

[2017-07-06 02:32] aleab commented on #4
I've release a new version with all the mentioned changes.

Unfortunately, I had to replace AutoHotkey with the good old SendMessage and PostMessage native methods and a bit of *hacks*, so the new *shortcut injection* system might break in the future.
The reason behind this choice, is that I didn't manage to get AutoHotkey send the key presses to Spotify if it is minimized. For now, the new system

[2017-07-06 02:39] SK83RJOSH commented on #4
Thanks so much, this resolve the issues on my end -- and yeah based on those commits, it seems like this was a "fun" one. 😄

[2017-07-06 02:39] #4 closed

[2017-07-10 12:24] hardcorehead87 opened #5 "Volume controls only affect Spotify"
In the last release we have to following features added;
- Added an option to use Spotify's volume control instead of the Windows volume mixer
- When using the Windows volume mixer, the volume increment can now be customized.

One of these features affected how the windows mixer volume is handled though.
Where before system volume would change, now only the spotify application volume is affected.

[2017-07-10 12:43] aleab commented on #5
Yeah, I can see why someone would want/prefer that. I don't know why I didn't metion it in the changelog though.
Anyway, that option will be back in the next release.
Thanks for the feedback.

[2017-07-10 15:57] hardcorehead87 commented on #5
Great. Thanks for keeping this project going.

[2017-07-11 15:17] aleab commented on #5
Version [1.9.5](https://github.com/aleab/toastify/releases/latest) is released.

[2017-07-11 15:39] hardcorehead87 commented on #5
Thanks. Much appreciated ;-)

[2017-07-11 15:39] #5 closed

[2017-08-01 18:05] Vankog opened #6 "please sign the installer"
Hey there. Nice to see further development on Toastify over here.
A minor issue I came across:
The Win 10 security system actively prevents the installer from executing by default, because it is from an unknown vendor/publisher/whatever.
I think users who don't know how to deal with this will be repelled by this. Especially, because the option to run the program nonetheless is a bit hidden.

Could

[2017-08-01 23:47] aleab commented on #6
Unfortunately, AFAIK, I cannot provide a "Vendor name"; that information should come from a certificate signed by a trusted CA.
I am definitely not going to pay for a certificate and I do not know of any free CA (if you do, let me know). I could try with a self-signed one, but I doubt Windows will fall for that. ;)

The UAC warning only pops up with the installer, right?
If that is the case, I mig

[2017-08-02 12:05] Vankog commented on #6
Yes, it only occurred with the installer.

Yeah, I don't expect you to pay for a certificate. Just did a short research and found that you indeed need a "code signing certificate". However, it seems over the past few years all free certification services known dropped the free tier. Couldn't find a suitable free one with a quick search. CAcert might be one, but they are generally not included as t

[2017-08-02 13:44] aleab commented on #6
Yeah, the *great minds* at Microsoft did a really good job in hiding it. :trollface:

Anyway, can you please try [this](https://github.com/aleab/toastify/releases/download/v1.9.5/ToastifyInstaller.zip) and see if the warning still appears? It's just the installer inside a zip.
I've done some research and it seems that the blue UAC warning (actually, it is a SmartScreen warning) only appears with f

[2017-08-02 18:14] Vankog commented on #6
Well, it seems there is also something else at play.
I tried both, the setup I downloaded lately and your archived one, again and this time only the usual UAC-warning popped up, asking me whether I'm sure. The SmartScreen blockage did not appear this time.

I figure that SmartScreen synchronized its database of known executable fingerprints and now recognizes the installer. (EDIT: Or it remembered

[2017-08-02 18:22] Vankog commented on #6
Never mind. I just tried it with an older version.
As I suspected, the SmartScreen came up again.

And as you suspected, it does not come up when using the archived version. HOWEVER, this only works for temp files (double clicking), not if you unzip the archive.

So I have an idea. Why not utilizing a self-extracting rar archive that unpacks itself to the temp folder and runs the setup automatical

[2017-08-02 19:44] aleab commented on #6
That sounds like a good idea! 👍
I'll look into it tomorrow and I'll let you know.

[2017-08-03 12:13] aleab commented on #6
[Here](https://github.com/aleab/toastify/releases/download/v1.9.5/SFXToastifyInstaller.exe) is the self-extracting archive. Let me know if it works.

[2017-08-03 12:31] Vankog commented on #6
I can't test this particular version, because windows already knows the 1.9.5 installer inside, so the smart screen would not come up nonetheless.
Could you pack an old version for test purposes? For example the 1.9.2 installer is still unknown to my system.

[2017-08-03 12:37] Vankog commented on #6
Wow, tested it nonetheless and have experienced a quite peculiar behaviour...
The first time it worked just fine. SmartScreen did not come up and the installer started up. Closed it und opened it again and surprisingly SmartScreen came up this time.

Cleared temp files, downloaded the file again just to be sure and renamed it.
But SmartScreen keeps popping up. Totally bonkers behaviour if you ask

[2017-08-03 13:00] aleab commented on #6
It unpacks everything in a randomly named directory inside the temp folder; however, it gets removed when the installation process ends. The directory name always starts with *"7z"*.

[2017-08-03 13:04] aleab commented on #6
Could it be the self-extracting archive that triggers SmartScreen?
I've modified it to include a dialog window before running the installer.
Can you try it again?

[2017-08-03 13:08] aleab commented on #6
FYI, I'm using the [7zS SFX module](https://sevenzip.osdn.jp/chm/cmdline/switches/sfx.htm) to generate the self-extracting archive.

[2017-08-03 15:02] Vankog commented on #6
Yes, the SFX itself triggers SmartScreen, including the new version.
But it is strange that this only happened after the very first run went without a SmartScreen interruption. It's like Windows realized too late that there was something to block. ^^

I tried it myself, but with WinRAR and it seems this works. Here the Setup:
Create an archive of the setup file with following options:
![sfx1](http

[2017-08-03 16:21] aleab commented on #6
Ok. Just to be sure, try with the new file I've uploaded ([here](https://github.com/aleab/toastify/releases/download/v1.9.5/SFXToastifyInstaller.exe)).

However, even if this works, I'm not completely sure I want to use WinRAR; I'd prefer a totally free/redistributable software.

[2017-08-03 18:27] Vankog commented on #6
Oh boy... it did NOT work...
Well, I guess my version worked for me, because my computer (user) made it, so technically it is not an "unknown app or program from the internet" so SmartScreen wouldn't bother. But your file triggers SmartScreen.

In the end, I guess there is no easy way to circumvent this problem as it seems.

[2017-08-03 20:56] aleab commented on #6
Yeah, there's definitely no way to trick SmartScreen!
I also tried a Windows utility program, *iexpress*, to create a self-extracting archive, but for some reason Windows Defender thinks the resulting installer is a trojan. 😕

Anyway, I'm gonna close this issue; if you come up with a solution, feel free to comment here.

[2017-08-03 20:58] #6 closed

[2017-08-05 03:38] Justinzobel opened #7 "[Feature Request] Thumbs Up/Down Support"
Would be good to be able to thumbs up/down from keyboard through Toastify.

[2017-08-05 11:38] aleab commented on #7
Hi Justinzobel.
Unfortunately, there's no easy and non-invasive way to do that.

I'll explain it briefly.
Toastify communicates with Spotify by sending *messages* to its window. These messages can either be simple key presses (media keys or [shortcuts provided by Spotify](https://support.spotify.com/us/using_spotify/system_settings/keyboard-shortcuts)) or more complex messages sent to one of the w

[2017-08-06 00:29] Justinzobel commented on #7
Many thanks for the detailed response, I understand the complexities of it now and agree that it sounds like a complete PITA to implement. I just wish there was more native apps for Spotify that we could hack on to do what we want. I'm only moving to Spotify because Pandora retracted the service from my country (Australia) and using a VPN to negate the geo-blocking is just a PITA.

[2017-08-06 00:29] #7 closed

[2017-09-02 14:26] PaulLFC opened #8 "Startup error ("An error occurred when trying to start Spotify"), leading to no toast notifications"
I recently downloaded Toastify on Windows 10 Pro x64, but I cannot seem to get it to run with Spotify. When the two programs are started, after around 5 seconds Toastify will pop up an error message:

"An error occurred when trying to start Spotify

Technical details
Spotify is running: true
Status: null

Additional details
An error occurred when trying to start Spotify: Toastify was not able to c

[2017-09-02 15:20] aleab commented on #8
Hi PaulLFC!

Does it happen **every** time, or is it *random*?
It's strange, because it shouldn't happen when launching Spotify manually.

Unfortunately, I do not have the 1.0.62 version of Spotify yet, so I don't know if it's caused by a change in Spotify. I'll investigate and let you know in a couple of days, I think, maybe with a test build for you to try.

In the meantime you can try to change

[2017-09-02 15:42] PaulLFC commented on #8
Hi @aleab!
Thanks for the workaround, unfortunately it seems the issue is still present - it was set at 10 initially, so I switched to 20, and although this delays the error because of the extra attempts, it still shows eventually and prevents Toastify from interacting with Spotify.
Thanks for looking into this!

[2017-09-02 16:10] aleab commented on #8
Can I ask you to zip your version of Spotify for me, so that I can try that out?
It's usually in `%USERPROFILE%\AppData\Roaming\Spotify`; remember to remove the `Users` directory and the `prefs` file from the zipped folder, they may contain private information.

Thanks!

[2017-09-02 19:19] PaulLFC commented on #8
No problem, hopefully this link should work: [https://ufile.io/059p5](https://ufile.io/059p5)

[2017-09-02 22:03] aleab commented on #8
As I suspected, the bug is caused by a change in the latest version of Spotify that broke one of the libraries used by Toastify ([this one](https://github.com/JohnnyCrazy/SpotifyAPI-NET)).
I'm currently waiting for the maintainer of that project to provide a hotfix. Unfortunately, I do not have an ETA on this nor an immediate fix.

[2017-09-02 22:13] PaulLFC commented on #8
Thanks for the reply and for investigating this! Hopefully the author of the library will be able to fix the issue soon, from having a look at the project it seems he's aware of it and working on a fix, so fingers crossed it won't be broken for too much longer.

[2017-09-03 17:28] aleab commented on #8
The [latest release](https://github.com/aleab/toastify/releases/latest) should fix your issue. Let me know if it doesn't.

[2017-09-03 17:52] PaulLFC commented on #8
@aleab Latest release works perfectly! Connects to Spotify straight away with no errors and toasts appear correctly. Thanks for fixing this so quickly.

[2017-09-03 17:52] #8 closed

[2017-09-04 15:04] Vankog opened #9 "Font-Color?"
Hey,

when utilizing transparency I have some issues reading the title:
![taost](https://user-images.githubusercontent.com/3804909/30031527-2c4e39d0-9192-11e7-8ac0-7aad370801ee.png)

I tried to do it for myself, but a quick glance at the code (via the website) did not gave me any clues about where to find it.

Generally I was thinking about a color chooser in the long run as well as a font-size se

[2017-09-04 15:23] aleab commented on #9
This is definitely on my list of things to do!
Will probably be in the next release; it might take a while, though – I'll be kinda busy in the next weeks/month.
In the meanwhile, if you want to do it yourself, the file you have to look at is [this](https://github.com/aleab/toastify/blob/master/Toastify/src/View/ToastView.xaml), specifically lines 51-56.

[2017-09-04 15:52] Vankog commented on #9
Oh, now I see why I couldn't find it in there. The line was too long for me to see. Didn't realize for quite a while that the lines are much longer than the view suggests. ^^
OK, I guess for a quick fix this would take more effort to setup a proper .NET dev environment than I could currently spare. Maybe next year I can wrap my head around .NET.

[2017-09-04 17:23] Vankog opened #11 "making artist and title syntax clearer"
Looking at the [network graph's commits by other toastify devs](https://github.com/nachmore/toastify/network) I am not the only one who thinks that the order of title and artist matters alot.

Everyone prefers another order, but I for myself am constantly struggling to remember which one Toastify uses. I actively have to memorize it (and fail in doing so over and over again). Therefore I have an e

[2017-09-04 18:02] Vankog commented on #11
I think something alike this (dirty hack) might be it? #12
As already told, I have no .NET env. so this is just an educated blind guess.

[2017-09-04 19:48] aleab commented on #11
Believe it or not, but for all this time I though I had already changed the track and artist name order to match the one used by Spotify. Turns out I didn't! Ahhahah! 😅

I like your suggestions and I personally prefer the third one, because I do not really like using a colon after the artist name (it might not be immediately visible if it is longer the the width of the toast), and I'd rather not u

[2017-09-05 13:28] Vankog commented on #11
OK, switched the two. I also prefer this order.

Hm... not sure about the formatting of "by". Need to see it for myself.
But we can always change that later on.

[2017-09-05 13:52] aleab commented on #11
For the moment I'll just merge your changes.

[2017-09-16 15:00] aleab commented on #9
Done!
Text color, shadow and font size can now be customized in the [new release](https://github.com/aleab/toastify/releases/latest).

[2017-09-16 17:06] Vankog commented on #9
uhh , awesome!

[2017-09-16 17:06] #9 closed

[2017-09-16 17:19] Vankog opened #13 "some exceptions and crash if Spotify could not be catched"
hehe, the new version added some exceptions.

First one I did not capture, but it was something like an exception while opening spotify after toastify start. It worked anyway. I'll have an eye on this.

The second one came, after removing progress bar check and saving (loosely translated, because it was given in German):
[code]

It still ran afterwards, but after enabling the progress bar again an

[2017-09-16 17:35] Vankog opened #14 "bug: dropshadow not applying correctly"
Playing with the dropshadow, there seems something off.
It started with this setting:
![ds1](https://user-images.githubusercontent.com/3804909/30514390-26de2808-9b14-11e7-8170-5f94e82d051d.png)
seems legit and valid.

Then I activated the bottom shadow, but let both parameters at 0.
This resulted in the weird effect that the top title lost it shadow as well. The bottom still had none. This was rev

[2017-09-16 17:36] Vankog commented on #11
very good :-)

[2017-09-16 17:36] #11 closed

[2017-09-16 18:00] aleab commented on #13
Oh geez! I already saw this behaviour, but never in a Release build. 😞
The second exception and the crash are totally related to the first exception. The base cause, I think, is that somehow Toastify was not able to *find* the Spotify process (or it did found it, but didn't find its main window, that is used to check if Spotify is running – I might need to change this).
It always happens when Toas

[2017-09-16 18:04] aleab commented on #13
Also, you say that it still ran after the second exception, but were you able to see the toast with Artist/Track info?

[2017-09-16 18:19] aleab commented on #14
Ahahah, I'm an idiot. 🤦‍♂️
This is what I've done, basically:
[code]
Damn copy-paste!!
I'm just releasing a v1.9.8.

[2017-09-16 18:22] Vankog commented on #13
Yeah, the toast even updated to hide or show the bar. Just showed me the exception on first save and crashed silently on the second save.

[2017-09-16 18:34] Vankog commented on #14
hehe, nice one! happens to me, too.

[2017-09-16 18:37] aleab commented on #14
New version is ready.

[2017-09-16 18:38] aleab commented on #14
Thanks for all your feedback, it's really appreciated. 👍

[2017-09-16 18:55] Vankog commented on #14
alright, it seems there is still something off.

reset the color&font settings and reduced alpha to see the shadow:
![ds1](https://user-images.githubusercontent.com/3804909/30514982-38cacfce-9b20-11e7-90b1-aced52b6a65e.png)
disabling top shadow has no effect:
![ds2](https://user-images.githubusercontent.com/3804909/30514986-599befd0-9b20-11e7-8653-537e35a7a719.png)
 enabling bottom shadow, neither

[2017-09-16 19:20] aleab commented on #13
Nah, It's definitely a problem with Toastify – I can feel it.
I just didn't manage correctly the process of "*launch Spotify > wait for it > show Toastify or show error*".

I think the best thing to do is to make Toastify kill itself if such an error occurs and show an informational message asking to restart it, instead of letting it run to eventually crash randomly in the end.

[2017-09-16 19:23] Vankog commented on #13
At least that's a valid workaround.

[2017-09-16 19:33] aleab commented on #14
These latest commits are full of dumb errors, geez! 🤦‍♂️

I forgot to remove the old, static shadow that was set in the .xaml file. Also, I forgot to set those depth and blur values to zero if the DropShadow boolean is false.

I've set some default values for the bottom shadow.

Try downloading version 1.9.8 again.

[2017-09-16 19:41] aleab commented on #14
For your side note, can I ask you to open a new issue, please? (I just need it as a reminder)

I actually pretty much never changed the *set to default* functionality since I forked the original project, so I don't really know what it does. I'll have a look at it *soon*.
However, I'm pretty sure it resets everything, and not just the settings of the current tab.
The fact that the values in the for

[2017-09-16 21:06] Vankog opened #15 "Default settings button is inconsistent"
When resetting to default (e.g. in Colors & Font), the current form values still show the old values until the window gets reopened. (e.g. color alpha)

https://github.com/aleab/toastify/issues/14#issuecomment-329990493:

----------

to be precise:

Setting some random settings all over the tabs:

![beforedefault001](https://user-images.githubusercontent.com/3804909/30515925-8820fc90-9b31-11e7-8ac

[2017-09-16 21:11] Vankog commented on #14
now it works :-)
![ds1](https://user-images.githubusercontent.com/3804909/30516051-4b9dce8a-9b34-11e7-9ce5-272fa996a5b6.png)

[2017-09-16 21:11] #14 closed

[2017-09-16 21:19] aleab commented on #15
**Perfect** issue report. 👍
Will be fixed in v1.9.9.

[2017-09-16 21:24] Vankog commented on #15
no pressure, it's merely a minor issue.

[2017-10-09 05:09] ryantheleach opened #16 "Upgrade from fork to v1.9.8 results in exception in log."
Updating from nachmore/toastify to v1.9.8 results in the following log when trying to launch.

2017-10-09 15:33:24  -  Value cannot be null.
Parameter name: input
2017-10-09 15:33:47  -  Value cannot be null.
Parameter name: input
2017-10-09 15:33:58  -  Value cannot be null.
Parameter name: input
2017-10-09 15:34:36  -  Value cannot be null.
Parameter name: input
2017-10-09 15:34:50  -  Value can

[2017-10-09 05:14] ryantheleach opened #17 "Add hotkeys for add/remove from library for radio use?"

[2017-10-09 12:02] aleab commented on #16
Downgrading is not really a solution.
What happened exactly? Any error message?

[2017-10-09 12:26] aleab commented on #17
If you are talking about the Thumbs Up/Down feature, that's not possible in any *painless* way. See issue #7 for details.
If you are just talking about saving a song to the library, which you would normally do by pushing the *plus* symbol for example, that's another thing that could be done in a less painfull way. However, that would require users' authorization to access their account through the

[2017-10-10 01:15] ryantheleach commented on #17
It's largely the second I was after, but if it's painful I understand why it wasn't done already, I can live without it.

[2017-10-10 01:16] ryantheleach commented on #16
No error messages, never appeared in tray, never launched. All I had was the log.

Windows 10 FYI. not sure if you need any other environmental info.

[2017-10-10 06:37] aleab commented on #16
Ok, I got it. It just crashes without messages.
I'll do some tests and let you know when it's fixed.

[2017-10-10 06:47] aleab commented on #17
As I said, if it's the second one, it's not painful at all; I just don't want to make the users authenticate and waste time just for one feature.
I'll keep this in mind, but I won't probably implement it anytime soon.

[2017-10-13 22:28] #13 closed

[2017-10-13 22:38] aleab commented on #15
Fixed in the latest release.

[2017-10-13 22:41] aleab commented on #16
The [new release](https://github.com/aleab/toastify/releases/latest) should work fine now.
Thanks for the issue report, Ryan.

[2017-10-13 22:42] #16 closed

[2017-10-13 22:48] aleab commented on #13
Should be definitely fixed in the new release, I hope.

[2017-10-14 09:43] Vankog commented on #13
Hooray! So it was just the missing previous version.

[2017-10-14 12:43] aleab commented on #13
Nay, the missing previous version thing was the cause of another unrelated bug.
This issue, instead, has been worked around by moving the startup tasks (launching Spotify and *connecting* to it) to a background thread that shows an error message and shuts down the app if it is not able to terminate within a time limit.
Unfortunately, I couldn't test the changes thoroughly because I was not able to

[2017-10-14 13:22] Vankog commented on #13
only time will tell! :-)

[2017-10-14 14:00] Vankog commented on #17
Me, just thinking out loud:
A proper Web-API authentication might be something worthwhile in the long run, though. That means, if some interesting use cases come up.
If I remember correctly, the user experience should be quite straight forward as well. I tried it once with a Sonos setup connecting to Spotify. Was not much needed beside a login at spotify and a provided code for authentication. IFT

[2017-10-14 14:01] Vankog commented on #15
I think it works ell so far. With one exception. But I'll add another issue for this. ;-)

[2017-10-14 14:01] #15 closed

[2017-10-14 14:13] Vankog opened #18 "Hotkey assignment is not reset properly when hitting default."
v. 1.10.
Steps:
1. Set up some hotkeys and save.
1. hit default.
1. set up the same hotkeys again:
    -> 1. bug: a warning: key combinations are already used
1. change a hotkey to another key-combination and save:
    -> this key combination can be set fine
1. change the same hotkey back to the previous key combination and save:
    -> 2. bug: hotkey still cannot be set, even though another key c

[2017-10-14 14:39] aleab commented on #17
That was exactly what I meant. 😄

I considered it some time ago; I don't really remember why I discarded the idea though.
I guess a browser extension is definitely needed to make it work.

So, instead of hitting +, I add it to my "favourites" playlist. Then a IFTTT recipe kicks in and adds the song to my library as well. (btw: The other way around [first + and then letting it add to playlist] is a

[2017-10-14 14:46] aleab commented on #18
I have had a hard time understanding how the hotkeys system was designed. I guess I didn't understand it correctly. Probably the hotkeys don't get unassigned/unregistered from the system for some reason.

Does the same thing happen when using the *default all* option?

[2017-10-14 15:01] Vankog commented on #18
Guess what: ^^
...
...
...
...
...
...
...
...
...
"default all" does not reset hotkeys at all ^^

(btw: clicking on "default all" has no visual clicking feedback. i.e. The dropdown stays open and no visual indicator show whether the action took place. Not sure if this is worth opening another issue.)

[2017-10-14 15:08] Vankog opened #19 "Show live preview of Toast layout"
I have another wish:
When changing the layout and colors of the Toast, the preview does not show the changed settings until saved. A live preview would be awesome.
This has two reasons:
1. The save button loses its value when you have to save anyway to preview any change, because you cannot return to the previous settings anymore.
1. It is cumbersome to hit save all the time when you are just play

[2017-10-14 15:55] aleab commented on #18
Holy shit! The error is just an *if* and a wrong boolean argument, I think.

It's not. This is enough. 😃

[2017-10-14 15:57] aleab commented on #19
Fair enough. Valid points. :+1:

[2017-10-17 15:56] IGZmanuelMartinVivaldi opened #20 "Add Albun to the Toast windows"
Currently only Track and Artist are shown in the Toast window.

¿Is it possible to add the Album title?

[2017-10-17 17:23] Vankog commented on #20
Probably, with some effort.
However, in my eyes it might get a bit crowded then.
It might make sense for larger toast dimensions, though.

[2017-10-17 17:41] aleab commented on #20
Everything's possible. My concern, though, is that the toast would probably look cluttered, as Vankog said.

I've come up with two possible layouts:
![image](https://user-images.githubusercontent.com/11708634/31679490-8aeb2222-b371-11e7-9584-3c3108a85d0b.png) ![image](https://user-images.githubusercontent.com/11708634/31679651-0e96e91c-b372-11e7-9487-06ab91340c76.png)

In the first one, the album

[2017-10-17 18:37] Vankog commented on #20
The first one also is not really preferable, because many song titles already use parenthesis.

For the second one we should think about the keyword.
"From" is ambiguous, because it could also be referred to as the artist by mistake.
Maybe "on"?

I think, if the user chooses to show the album (i.e. three lines), the toast should become bigger by default.

What about such a setting screen:
Instead

[2017-10-17 18:56] aleab commented on #20
Great suggestions, Vankog! 👍

[2017-11-15 07:09] gahujipo opened #21 "Podcasts: Ad Notification does not disappear"
Hi, I just installed your fork of toastify. I really like it. But when I play podcasts, Toastify shows a notification for ads and does not disappear. The same behaviuor I had on the original toastify. https://github.com/nachmore/toastify/issues/12#issuecomment-344504242

[2017-11-15 07:52] aleab commented on #21
Hi gahujipo, thanks for the issue report.
I'll look into this soon (tm).

[2017-11-15 19:00] aleab commented on #21
Unfortunately, I was not able to exactly reproduce your issue, although I know for sure podcasts are not currently supported by Spotify's public APIs. In particular, I couldn't reproduce the *"does not disappear"* part.
Are you using the latest version of Toastify? Are you sure the Settings window was not open?
Try to uninstall Toastify, delete the settings file located in *"%AppData%\Toastify\Toa

[2017-11-17 11:14] gahujipo commented on #21
Thank you for getting back to me so fast. I stopped Toastify, deleted the config file and reinstalled it. After that I've seen why you weren't able to reproduce the issue. It is because I have disabled the "only Show Toast when Hotkey is pressed"-option. This shows me a toast on every song change. I really like that. But when it comes to podcast the toast does not disapper (as it does for normal s

[2017-11-17 17:27] aleab commented on #21
I just tested both the current version of master (68c9342) and the latest released version (v1.10.0) with both that option enabled and disabled, on both the desktop version of Spotify and the Windows Store one.
Here's the result. (OPT is the *"Only Show Toast when Hotkey is pressed"* option)

### Version 1.10.0
- If a regular song is playing and then you switch to a podcast, Toastify continues to

[2017-11-18 18:11] Vankog commented on #21
I can't reproduce the sticking toast neither. They disappear as expected. :-/

Maybe it is a platform thing? On what system are you running?
(me: win 10 home x64)

[2017-11-19 21:20] #18 closed

[2017-11-20 14:03] Vankog commented on #18
Wow, this looks like it was just a tiny bit more than just "an *if* and a wrong boolean argument" ^^

[2017-11-20 14:13] aleab commented on #18
Kinda! 😅

[2017-11-20 16:15] gahujipo commented on #21
I retried it today, always with [this podcast](https://open.spotify.com/show/1OLcQdw2PFDPG1jo3s0wbp). The toast does not appear again. With normal songs the toast appears as expected.
But when I pause the podcast, the toast appears and when I resume the toast reappears, but isn't sticky anymore. I don't know why the behaviuor has changed today.

I am using Windows 10 Enterprise x64. What changed f

[2017-11-20 16:16] gahujipo commented on #21
![grafik](https://user-images.githubusercontent.com/26710574/33028573-96023a78-ce16-11e7-9fce-eed8ec696a07.png)

[2017-11-20 17:04] aleab commented on #21
What do you mean? The toast doesn't appear at all when you press the *ShowToast* hotkey (Ctrl-Alt-Space by default)? If that's the case, then you probably had the desktop background *focused* and the *"Disable Toast With Fullscreen Videogames"* option enabled; there's a bug (fixed in cdbd79e) that prevents the toast to show up in that situation.

Everything else is expected behaviour. Unfortunatel

[2017-11-21 08:42] gahujipo commented on #21
Okay, i did some further research.
1. The  ShowToast hotkey worked always in my tests.
2. I realized why yesterday the toast did not show up. The toast shows only when the podcast starts playing from the beginning. When an episode was started previously and resumes after (I think) 00:00:05 then the toast does not appear. I am not sure if this is expected behaviour.

But somehow I wasn't able to re

[2017-11-21 10:25] aleab commented on #21
You mean with the *"Only Show Toast when Hotkey is pressed"* option enabled? The current version behaves quite inconsistently with podcasts; in particular, most of the times the toast doesn't show up automatically when the episode changes or any other hotkey other than the *ShowToast* one is pressed.

No worries! It was definitely not a waste of time, since it made me aware of the inconsistencies

[2017-11-21 10:27] #21 closed

[2017-11-21 13:59] Vankog commented on #21
@gahujipo It sounds to me like everything is working now as expected. Some problems you described with the toast not coming up and so on should be fixed in the upcoming release if I understand @aleab's descriptions correctly.

Your sticking toast issue could have easily just been a .NET glitch. Maybe windows ran an update and the platform was a bit inconsistent. Sometimes rebooting helps indeed. ^

[2017-11-21 14:39] Vankog opened #22 "performance-bug: high CPU utilization"
I realized by chance that Toastify is constantly using quite a lot of CPU performance (around 15% for me):
![toastify cpu utilization](https://user-images.githubusercontent.com/3804909/33077934-706dfc50-ced1-11e7-8b0b-02d4ab6c451c.png)

It does not matter whether it is the parent of Spotify or not.
I could also not pin down any context variables or settings that might have an impact on this.

It i

[2017-11-21 15:17] gahujipo commented on #21
No, i have this option always disabled to show a toast everytime the song changes. I like that very much!

okay, so I will wait for the next release where your commits were applied. It doesn't make much sense now to discuss about a non-up-to-date version. I will retest that behaviuor with the next release and reopen this case i needed.

[2017-11-21 15:50] aleab commented on #21
I actually meant disabled. My bad. ^^

[2017-11-21 17:45] aleab commented on #22
I have a much lower CPU usage. Comparing it with Spotify's, when Spotify is minimized it uses around 0.9%, while Toastify uses around 1.20%.
It's indeed quite alarming, not as much as on you system, but still...

Taking a look at the Threads tab of Process Explorer, I found *a few* threads started from `clr.dll!GetMetaDataPublicInterfaceFromInternal`, which take most of the CPU time (the main thre

[2017-11-21 19:41] Vankog commented on #22
Just a wild guess, but:
![toastify cpu utilization stack](https://user-images.githubusercontent.com/3804909/33093028-1e8aea76-cefc-11e7-8d52-600b17eca9d9.png)
All those threads have LogHelp in their stack. Might this have something to do with the new logging system?

[2017-11-21 20:58] aleab commented on #22
Nope, it was not present in version 1.10.0.

However, I just figured out (silly me!) that those methods in the stack are not involved at all; they are just the base address of the base+offset addressing used.
So, for example, the actual method in the stack for TID 144796 is located at an offset of +0x4310 from the start of the LogHelp_TerminateOnAssert method.

Figured out that most of those metho

[2017-11-22 13:34] Vankog commented on #22
I already had hunch that the stack does not show the real methods.
I tried to configure the debug symbols in process explorer by adding this path:
`SRV*c:\symbols*http://msdl.microsoft.com/download/symbols`
![symbols](https://user-images.githubusercontent.com/3804909/33129962-09155af0-cf92-11e7-835f-a871324dde17.png)
But it seems they are not downloaded currently. The URL resolves to exceptions as

[2017-11-22 13:44] aleab commented on #22
I had to change the *"Dbghelp.dll path"* to the *dbghelp.dll* that comes with the [Debugging Tools for Windows](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/): `%ProgramFiles(x86)%\Windows Kits\10\Debuggers\x64\dbghelp.dll`.
Apparently the default one can't resolve addresses to method names.

[2017-12-14 00:12] Vankog commented on #22
It is getting worse. Now it routinely runs at around 23%, tendency rising.
Even just now, after restarting it, this level rose just again to about 27%.

Also, memory allocation of about 25MB seems quite much as well.

Maybe there is something aggregating over time that increases the footprint? Some logs, analytics or something?

[2017-12-14 15:49] aleab commented on #22
I've done some CPU profiling and I think I've identified a couple of methods that might be causing this excessive CPU usage. I've already addressed one of them with a temporary fix (to properly address it, I might need to push some changes onto the SpotifyAPI-NET project); I still need to figure out how to change the other one(s).

Also, since this problem seems to be much worse and more noticeabl

[2017-12-14 20:42] Vankog commented on #22
Alright, the whole issue seems to be context sensitive as well.
Today Toastify (official build) only utilizes around 5%. All I did was installing the current Windows 10 update and a restart.
I closed both apps and restarted them.
This time Toastify used around 7%.
Yet another third and fourth round, this time at around 6%.
I sort of was expecting to see it rise with every start, but that's not the

[2017-12-14 21:09] Vankog opened #23 "Gentler way to terminate Spotify?"
Is there a gentler way to kill Spotiy when quitting Toastify?
It seems Spotify enters panic mode when Toastify terminates it, which I infer from two facts:
1. Spotify's window dimensions and location are reset everytime Toastify closes Spotify. They stay the same when closing Spotify manually, though.
1. In ProcessExplorer I saw once by chance that while termination was in process, another process

[2017-12-14 23:57] aleab commented on #22
😱 I'll have a look at it tomorrow.
<br/>

That is expected. The high CPU usage in Toastify was partially caused by periodic HTTP requests to the local server run by the Spotify client; because of these requests, Spotify itself was having a higher CPU usage as well. What changed is that I removed some of these requests and retrieved whatever I needed in some other way, without making requests to th

[2017-12-15 00:04] aleab commented on #23
To be honest, I didn't mess too much with the code that handles termination; it's almost the same as it was in the original repository, except some refactoring.
I'm almost sure, however, that sometimes Spotify is closed forcefully.

I'll take a look and report back soon™.

[2017-12-15 04:10] Vankog commented on #23
Take your time® ;-)

[2017-12-15 04:15] Vankog commented on #22
I guess the progress bar is quite expensive, isn't it?

Alright, I'm excited about future developments. :-)

[2017-12-15 12:50] aleab commented on #22
It's not expensive at all, at least no more than calling a method, updating the value of a variable and refreshing the view.
Basically it works like this. There is a component in the SpotifyAPI-NET library that periodically (by default, every 100ms, I think) makes a request to the server to get the current status of the Spotify client; depending on how the status changed, it raises some of its eve

[2017-12-16 16:37] Vankog commented on #22
Another day another measure. (just because I was curious)
Today the Toastify test build uses around 9% on play and 18% on pause:
The spike in IO is when the plays/pause took place.
![toastify cpu utilization](https://user-images.githubusercontent.com/3804909/34072326-9945a732-e285-11e7-8372-dd72bcb021b8.png)

This time the memory pressure on my system in general is higher and the system is running

[2017-12-16 18:43] aleab commented on #22
It is interesting indeed!

That constant IO activity and those spikes are also quite interesting. I found out that the spikes are somehow caused by the logger; I raised the minimum log level for Release builds and they were gone. 😕
I don't know where that constant IO activity comes from, though. I bet it's something in the SpotifyAPI-NET library.

[2017-12-16 19:29] Vankog commented on #22
The I/O is Network I/O exclusively. So I thought it's the communication with the Spotify server and RPCs (not sure if those show up as network I/O, though). Was this a wrong assumption?

[2017-12-16 19:56] aleab commented on #22
Honestly, I'm not sure what Process Explorer is actually showing there; it's probably a combination of disk and network activity. That constant I/O is probably what you assumed. The spikes are definitely disk I/O.

[2017-12-26 20:13] Vankog opened #24 "Bug: when playing another title after pause, toast still shows the old title"
got a special gift for you. a christmas holiday bug! yay!!!^^

Version: your custom build from the performance issue.

Steps:
1. config: toast shows up automatically
1. Start a track (to be sure, in a playlist)
1. pause the track
1. play a new track either by directly starting it or skipping the title in any direction
-> result: The old title still shows up as playing

[2017-12-26 22:25] aleab commented on #24
The 🎁🐛 is appreciated! 😜

I managed to reproduce the issue with that custom build. However, (fortunately?) I couldn't reproduce it with my local version. Some changes not yet committed and pushed might have fixed it.

[2017-12-26 23:20] Vankog commented on #24
fine, that settles it then :-)

[2017-12-26 23:20] #24 closed

[2017-12-28 22:57] Vankog opened #25 "Bug: Show-Toast hot-key shows toast only for a fraction of a second"
The toast only shows up for a fraction of a second when using the Show Toast hot-key.
However, the toast shows correctly on automatic or forced track changes, play/pause or volume control hot-key.

Restarting Toastify does not change this behaviour, nor does changing the hot-key.

Version: Custom build from performance issue.

[2017-12-29 16:14] aleab commented on #25
Unfortunately I couldn't reproduce this behaviour in my tests, right now. However, I already knew of this bug and I've never been able to discover what causes it. Strangely, though, restarting Toastify always fixes it for me.

I've changed part of the code that involves the fading-in/out of the Toast just now, because it was kind of messy. I'll test it for a couple of days to see if it fixes this

[2017-12-29 22:31] Vankog commented on #25
I was already afraid that this is something hard to pinpoint.
Now, after a restart of the system it works fine again. It really seems .NET might be the root cause of all of this. Maybe there are some platform bugs with systems using hibernation and/or high memory load.

[2017-12-30 16:08] aleab commented on #25
Fixed it!

[2017-12-30 16:09] #25 closed

[2017-12-31 03:12] Vankog commented on #23
That's interesting. You basically click through Spotify's menu, right? Does this also work when Spotify is minimized and/or in tray?

[2017-12-31 12:41] aleab commented on #23
Slightly incorrect. I'm not clicking or generating click events, but rather sending to Spotify's window the same messages it would receive if you clicked on the menu item.
Sending mouse clicks would require the window to be on top; these simple messages, on the other end, only require the window to actually exist. So, yeah... It works when Spotify if minimized or in the tray as well.

[2018-01-02 15:34] thewan056 opened #26 "Doesn't seem to work with the Windows/Microsoft Store version of Spotify"
OS: Windows 10 Pro 1709
Spotify: 1.70.388.0 via Microsoft Store
Toastify: 1.10.0

Awesome project. Saw that it supports the Microsoft Store version and tried it straightaway. Stuck at "waiting for Spotify" even though Spotify launches. Got timeout error dialog after waiting a while. Is there anything that I maybe doing wrong?

https://vgy.me/rFDfRe.png

[2018-01-02 16:08] aleab commented on #26
Was Spotify already running when you started Toastify? If it wasn't, try starting Spotify first and then Toastify.

Normally, it shouldn't really matter what you start first, but sometimes, if Spotify takes too long to load (more than a minute, IIRC), Toastify times out and gives that error dialog.

[2018-01-02 16:22] aleab commented on #26
You can also try out this test version ([ToastifyInstaller.zip](https://github.com/aleab/toastify/files/1598031/ToastifyInstaller.zip)) with the most recent changes.
If this test version times out as well, look for any log file inside *%LocalAppData%\Toastify* and let me know.

[2018-01-09 14:39] aleab commented on #26
@thewan056, any news?

[2018-01-11 18:01] Vankog opened #27 "some project help"
Hey,

I am currently in the process of setting up the project in VS.
However, there are some issues I'd like to resolve.
1. The NuGet packages were automatically installed.
1. I ran the Analytics template and added some fake IDs for time being.
1. Upon starting the app I get a break on on Win32API.cs on line 215:
[code]
1. I continue this, but the the program crashes:
    dialog 1:
[code]
    dial

[2018-01-11 20:20] aleab commented on #27
The problem is that Toastify is loading the 32 bit version of user32.dll, which doesn't have that particular function. The solution is to select the "x64" platform configuration in Visual Studio, instead of the "AnyCPU" one.

![](https://vgy.me/vV9MIq.png)

[2018-01-15 17:39] #19 closed

[2018-01-15 17:40] #23 closed

[2018-01-15 17:45] aleab commented on #22
I'll close this issue for now. It's been addressed in the new version.

[2018-01-15 17:45] #22 closed

[2018-01-15 18:52] Jabbl opened #28 "Multiple screens"
When changing toast position; if I move it to my second screen, placed to the left of my main one, an error occurs and the toast moves to default position.
If I then try to open the settings, another error occurs, as the program saves a negative value to x-pos, and then refuses to open.
Fixing this requires opening the xml-file and manually resetting the value.

Would be nice if I could place the

[2018-01-15 19:13] aleab commented on #28
I'll try to look into this issue soon enough. It might take some time, though, since I currently do not have a second monitor to test it with.

[2018-01-15 23:29] baseballbrad3 opened #29 "Error launching toastify"
I'm getting an error when launching Toastify. I get it on the new 1.10.1 release as well as the previous 1.10.0. I'm using the ~~Windows~~ Microsoft Store version of Spotify.

Here are the logs that I was able to dig up. I couldn't figure out how to enable Debug level logs though.

Any idea what I can do to fix it?

[code]

[2018-01-16 00:49] aleab commented on #29
Hi @baseballbrad3, thanks for the issue report.

It's currently not possible to enable Debug level logs on the user side, since the logger's configuration file is embedded in the binary file (and I prefer keeping it there); I might add some command line parameters in the new version though.
Anyway, I don't think Debug logs would have been useful in this case, since the issue seems to reside in one

[2018-01-16 14:44] baseballbrad3 commented on #29
Bah, looks like there was a firewall rule blocking open.spotify.com. I switched to a less restricted network and it popped right up. Looks like it was all on my end. Thanks for the help.

[2018-01-16 14:44] #29 closed

[2018-01-21 17:11] aleab commented on #26
**Closed for inactivity.**

I couldn't reproduce the issue and without further details it's impossible to track down the actual issue.

@thewan056, if you are still getting that error or if it happens again, you are free to comment here and I will re-open this issue.

[2018-01-21 17:11] #26 closed

[2018-01-28 15:56] #28 closed

[2018-01-28 15:57] aleab commented on #28
Sorry for the late fix. Multi-screen configurations should be supported in the new version now.

[2018-03-01 09:09] entozoon opened #30 "Unhandled exception"
[code]

Running latest release (v1.10.2) on Win 7,

[2018-03-01 14:01] abelgomez commented on #30
Same problem here, with Spotify version 483.g7ff4a0dc

[2018-03-01 14:32] aleab commented on #30
@entozoon, I may sound a bit arrogant here; I'm sorry.
I've created an issue template to avoid this kind of reports. An ASCII representation of a message box is not really helpful, don't you think?
Do you mind attaching your latest log file here? You can find it in `%LocalAppData%\Toastify` (for example, `C:\Users\Michael\AppData\Local\Toastify\Toastify.log`)

@abelgomez, thanks. :+1:  That log fi

[2018-03-01 15:19] aleab commented on #30
Quick, dirty fix. Do you mind checking if this test build works? @entozoon @abelgomez

[ToastifyInstaller.zip](https://github.com/aleab/toastify/files/1771645/ToastifyInstaller.zip)

[2018-03-01 15:21] abelgomez commented on #30
Thank you very much for your quick response, but unfortuately, does not work for me :( Please find attached the new log.
[Toastify.log](https://github.com/aleab/toastify/files/1771671/Toastify.log)

[2018-03-01 15:36] aleab commented on #30
Thank you very much. I know what the root cause of the issue is now.
The ETA for the fix is by the end of this weekend, hopefully.

[2018-03-02 11:46] ferkanzai commented on #30
[Toastify.log](https://github.com/aleab/toastify/files/1774894/Toastify.log)
I assume that now you have the problem located, but just in case, here is my log file! This is with the fix from yesterday installed.

Keep the good work! Thanks!!

[2018-03-03 20:02] aleab commented on #30
I should have fixed this issue in the latest commit, but I haven't tested it thoroughly yet.
Do you guys mind checking **[this](https://github.com/aleab/toastify/files/1777827/ToastifyInstaller.zip)** out and see if it works correctly? Some settings might reset, especially toast colors and font size.

I'll release the official build by tomorrow evening (CET).

[2018-03-03 20:32] ferkanzai commented on #30
Hi!!

Now it installs correctly, but for me, doesn't work. The hotkeys don't do anything. Sharing my log again, just in case!

Thanks!!
[Toastify.log](https://github.com/aleab/toastify/files/1777864/Toastify.log)

[2018-03-03 20:50] aleab commented on #30
Yeah, you are correct.
Are you using Spotify version 1.0.75.483.g7ff4a0dc? I just updated to it and hotkeys stopped working.
This might take a while longer to fix.

[2018-03-03 21:22] aleab opened #31 "Hotkeys stopped working since Spotify v1.0.75.483.g7ff4a0dc"
The underlying issue is that Spotify changed the hierarchy of its windows and their names.

![Spy++](https://vgy.me/LeNQUZ.png)

![Spy++](https://vgy.me/cNlMru.png)

Before version 1.0.75.483.g7ff4a0dc, the hierarchy was:
- "Spotify" SpotifyMainWindow
  * CefBrowserWindow
    + Chrome_WidgetWin_0

[These](https://github.com/aleab/toastify/blob/5f75d8135973f5c3728c4eb04cec1fb587ac3cc1/Toastify/src/

[2018-03-03 21:24] aleab commented on #30
Be sure to follow #31 to know when the new issue pointed out by @ferkanzai is resolved.

[2018-03-03 21:58] ferkanzai commented on #30
Yeah, that's the version I'm currently using! I'll try the #31 fix and tell you how it went! Thanks!!

[2018-03-03 22:40] abelgomez commented on #30
The version in https://github.com/aleab/toastify/files/1777827/ToastifyInstaller.zip and also works for me and does not throw the exception anymore.

Nevertheless, I also suffer from the problem in #31 😞

Indeed, #31 was what made me to install the latest release, but I see that the issue has not been addressed yet :(

Thanks for your work 👍

[2018-03-04 14:39] Blazeflack opened #32 "Remove modifier requirement on hotkeys"
Hi.

I have been using the original version of Toastify for a long time. A few days ago the original version stopped responding to hotkeys, so I went looking for solutions and came across this repository. I had no idea you had picked up the torch to continue its development. I'm extremely happy about that, so thanks.

**Here is my issue:**
Previously I would mainly use Toastify to have an easy way

[2018-03-04 18:37] aleab commented on #31
## MEMO

***Complex* hotkeys that required the use of Window Messages (see [`SendShortcut`](https://github.com/aleab/toastify/blob/fa4f35624ee62216813cf88229b4077075248e65/Toastify/src/Core/Spotify.cs#L585-L654)) stopped working!**

The issue is that the new main window (*"Spotify" Chrome_WidgetWin_0*) is not a regular window with a **static** menu bar anymore, so the *"Playback"* submenu's items

[2018-03-04 20:11] aleab commented on #32
Hi @Blazeflack!
You are indeed right, that requirement is really unnecessary. It'll be removed in the next version.

Regarding assigning mouse buttons to actions – was it possible to do that in the original project? By a quick look at the code, it shouldn't be (neither in my version of Toastify nor the original).

[2018-03-04 21:12] aleab commented on #30
The fix that was expected to be released by this evening (CET) will unfortunately be delayed. I still don't have a definitive fix for the new issue (#31) and I'd like to bundle them together, since the app will still be broken for those who updated Spotify to v1.0.75.483.g7ff4a0dc.

I'm sorry for the delay. 😞

[2018-03-04 21:23] abelgomez commented on #30
Don't worry, thanks anyway.

For those who inadvertently updated Spotify: I was able to "downgrade" to version 1.0.74.380.g1fcff12a by installing Spotify frm the Windows Store.

[2018-03-05 00:51] Blazeflack commented on #32
Hi @aleab

That sounds great, thank you.

Sorry about the confusion, I do indeed use Razer Synapse. It doesn't allow me to use a modifier when assigning a media key function to a button, otherwise I wouldn't mind the requirement in Toastify.

Thank you.

[2018-03-05 01:09] Blazeflack commented on #30
I tested the version you posted last in this ticket @aleab and I noticed an issue that doesn't seem connected, but could be a side effect of recent changes.

When I opened the program for the first time it told me it couldn't find a cfg file, told me to find it and delete it, and told me it would load with default settings. Nothing too surprising there. I went through its settings and configured i

[2018-03-05 01:23] aleab commented on #30
@Blazeflack the majority of the strange behaviours you mentioned are indeed a side effect of unfinished/untested recent changes.

The issue related to the app not using setting values defined in the cfg file has been fixed in commit 28bcb18, pushed a couple of hours after I made available that test version.

[2018-03-05 01:32] Blazeflack commented on #30
Good to know, thank you :)

I will await the next release.

[2018-03-05 14:36] aleab commented on #4
As expected, the *hacky* way at the base of this functionality doesn't work anymore with the latest release of Spotify (v1.0.75.483.g7ff4a0dc). From the next release (v1.10.3), Toastify won't be able to control Spotify's in-app volume.

See 9cb83d1 and the referenced issue for details.

[2018-03-05 14:41] aleab commented on #23
Unfortunately, since the latest release of Spotify (v1.0.75.483.g7ff4a0dc) it's not possible to gently terminate its process anymore.

See 9cb83d1 and the referenced issue for details.

[2018-03-05 20:33] henriklb commented on #30
Thank you for your hard work. Looking forward to the next release!

[2018-03-05 22:19] stoopdapoop opened #33 "Latest release is unable to connect to spotify"
It looks like this is a known bug that has been fixed recently, but none of the releases include the fix, is there a plan to create a new release with an installer in the near future?

[2018-03-06 10:46] aleab commented on #33
Hi @stoopdapoop.
What fixed known bug are you referring to exactly? Are you getting an error message at startup? Can I have a look at your log file in that case? (Log files are in *"%LocalAppData%\Toastify"*; e.g. *"C:\Users\\{UserName}\AppData\Local\Toastify\Toastify.log"*)

I've got a new release planned for this week, hopefully.

[2018-03-06 19:51] stoopdapoop commented on #33
I'm referring to bug 31. https://github.com/aleab/toastify/issues/31

looks like I was mistaken about it being fixed though.

I can get you the log when I get home tonight.

[2018-03-06 19:52] #33 closed

[2018-03-07 13:22] faridv opened #34 "Cannot run latest version"
I installed latest release but when running it, following errors come up and program never starts.

![image](https://user-images.githubusercontent.com/854874/37094309-bed2bef4-2227-11e8-9c16-e08a3fa01c98.png)

![image](https://user-images.githubusercontent.com/854874/37094314-c564dd56-2227-11e8-9aa8-93e802d9bf13.png)

I'm using 64bit version of Windows 8.1 and Spotify version of **1.0.75.483.g7ff4

[2018-03-07 14:03] aleab commented on #34
Thanks for the issue report, @faridv.
I already know the latest version doesn't currently work and I have a fix ready to be release soon. I just need a bit more time to test it thoroughly.

I'll let you know when it's released.

[2018-03-07 14:04] aleab commented on #34
Closing as duplicate of #30.

[2018-03-07 14:04] #34 closed

[2018-03-08 00:10] aleab commented on #31
Fixed in the [latest release](https://github.com/aleab/toastify/releases/tag/v1.10.3).

[2018-03-08 00:10] #31 closed

[2018-03-08 00:11] aleab commented on #32
Modifier requirement has been removed in [v1.10.3](https://github.com/aleab/toastify/releases/tag/v1.10.3).

[2018-03-08 00:11] #32 closed

[2018-03-08 00:18] clarkycal opened #35 "Waiting for spotify... & Disabled toasts is ignored (v1.10.3)"
Installed new version just released 3mins ago, and is stuck of "Waiting for Spotify..." and then eventually times out.
While writing this post I just figured the problem, in my windows host file I have blocked all spotify advertising addresses (taking these out fixes the issue)
But before my old toastify i was able to use the hosts file by blocking the adverts, now I can't.

Another thing is that

[2018-03-08 00:30] clarkycal commented on #35
Can confirm that fixed my issue, you're a complete legend! thanks.

[2018-03-08 00:33] #35 closed

[2018-03-08 01:01] aleab commented on #30
@xaarock, I loved that too; I've been using it since I added it, but unfortunately it just doesn't work anymore.

[2018-03-08 01:03] aleab commented on #34
@faridv, The new version has been release ([here](https://github.com/aleab/toastify/releases/latest))!

[2018-03-08 02:50] Blazeflack commented on #30
New release works correctly and I'm happy to be able to keybind without modifiers :).

Thanks.

[2018-03-08 07:26] gahujipo opened #36 "Mouse thumb buttons (XButton1/Mouse4 and XButton2/Mouse5) in hotkey combinations"
Hi there,
I read in your release notes that with the latest release it should be possible to use those buttons on the mouse. Until now i always used the Logitech SetPoint Control Panel to trigger a hotkey combination when i pressed the mouse. Those hotkeys were picked up by Toastify and it did it's work after that.

But how can I set those buttons as hotkeys in Toastify? I am using a [Logitech M50

[2018-03-08 10:41] abelgomez commented on #30
Works great @aleab , thank you for your quick fix.

[2018-03-08 11:24] Suripurasu opened #37 "Spotify not available"
After downloading the latest version whenever I try to use my hot keys it tells me "Spotify not available!". I've reinstalled both programs numerous times and the problem still persists. However even though it says "Spotify not available" it still launches it when I start Toastify.

There's no log file for me to attach unfortunately.

[2018-03-08 12:27] Kilay commented on #30
The first time I launched Toastify after updated, I had this error :
![image](https://user-images.githubusercontent.com/314557/37151041-461ffc9e-22d4-11e8-831a-deea7e6f7367.png)

This is working well now, thanks.

[2018-03-08 12:34] aleab commented on #36
It should be, yeah.
Have you already tried to use them in the Hotkeys section of the settings or not?

![Hotkeys Settings](https://vgy.me/RW3DX2.png)

Just click on the small text box near "Press a Key" to have it focused and then press the mouse button.

[2018-03-08 12:36] clarkycal commented on #37
Refer to this issue, sounds similar to what i had, https://github.com/aleab/toastify/issues/35

[2018-03-08 12:45] aleab commented on #37
First things first.
1. What version of Windows are you using?
2. What version of Spotify are you using?
3. Are you 100% sure that there are no log files anywhere? There should be log files in the following locations:
   - *"C:\Users\\{UserName}\AppData\Local\Toastify"* (I just need *"Toastify.log"*)
   - In the installation directory: *"C:\Program Files\Toastify"*
4. Does it happen when you launch

[2018-03-08 12:49] aleab commented on #30
@Kilay, if you have that error message again, be sure to open a new issue report and include your log file.

[2018-03-08 13:42] Kilay commented on #30
Sure, but for now, I didn't had this message again. Even after restarting Toastify.

[2018-03-08 14:01] abelgomez commented on #31
One question: I assume that with the latest changes in
9cb83d1 (dropping support for "complex" actions), implementing hotkeys for switching the Shuffle/Repeat toggles is no longer possible, isn't it?

[2018-03-08 14:40] aleab commented on #31
@abelgomez, mmmhhh... it surely is not possible anymore by using the *"hacks"* I used for VolumeUp/VolumeDown and FastForward/Rewind (although, I did found an alternative method for FastForward/Rewind in the end).

**However**, it is possible to implement them in some other way, either by using Spotify's WebAPIs (#17) or by using another *hacky* method, which consists in "navigating" Spotify's pag

[2018-03-08 15:04] abelgomez commented on #31
I also agree those are ugly methods, that will cause a lot of problems and will probably be hard to maintain. I just wanted to confirm 😄  Thanks for the clarification

[2018-03-08 18:10] Suripurasu commented on #37
Windows 10 Home 64 bit
Version 1.0.75.483.g7ff4a0dc
I've tried both but I currently have the standard version installed
[Toastify.log](https://github.com/aleab/toastify/files/1794268/Toastify.log) Wasn't there when I originally made the post, Sorry.
I always launch Toastify first

[2018-03-08 21:34] gahujipo commented on #36
Yep. That is exactly what I tried. Nothing happens when i click the buttons while having the text box focused (clicked once). Does that work for you?

[2018-03-08 22:23] Blazeflack commented on #36
It works for me with my Razer Naga Hex v2. When I bind one of my side buttons the text in the keybind box says "D#" where # is a number between 1 and 7 both included.

[2018-03-08 23:17] aleab commented on #36
@gahujipo, yes, it does work on my side with a ROG Gladius.
I have a couple of ideas on what might be the issue for you; tomorrow I'll post a test release here with extra debugging info. I'll need your log file afterwards.

@Blazeflack, really? That's honestly an unexpected behaviour. Firstly because I expected it to print either *XButton1* or *XButton2*; secondly because if they are indeed recogn

[2018-03-08 23:24] aleab commented on #37
I'll provide you with a test version with some extra debugging info enabled tomorrow. I'll need your log file again after you tested it. Stay tuned.

[2018-03-09 01:22] Blazeflack commented on #36
I just tested it again and all of my 7 side buttons appear to work fine as keybinds. I had volume up and down bound to D2 and D3, and I then bound D1 to Mute. I opened the volume mixer to keep an eye on the slider and when I pressed the Mute keybind it correctly muted the Spotify mixer and it did not modify the volume slider.

[2018-03-09 05:35] andreasolsson80 commented on #30
Got the same problem with the latest version 1.10.3. Have attached the log file.

[Toastify.log](https://github.com/aleab/toastify/files/1795748/Toastify.log)

[2018-03-09 06:23] aleab commented on #30
@andreasolsson80, thanks for the report!
Your log file matches with the one posted in #37. Subscribe to that issue to get updates on its resolution.

[2018-03-09 07:48] gahujipo commented on #36
Sorry, my fault. All I had to do is change a setting in my Logitech SetPoint Control Panel which prevented the click event from being forwarded to Toastify. The setting is:
![image](https://user-images.githubusercontent.com/26710574/37196213-48df7c32-2376-11e8-9d28-86ca360279be.png)

Now it works as expected. A big thank you from my side too for maintaining the project.

[2018-03-09 07:48] #36 closed

[2018-03-09 07:56] #30 closed

[2018-03-09 08:36] F1rrel opened #38 "Changing FadeOut Time not working."
## EXPECTED BEHAVIOUR
Changing FadeOut Time of Toast.

## ACTUAL BEHAVIOUR
Unhandled exception: Object reference not set to an instance of an object.

## STEPS TO REPRODUCE THE BEHAVIOUR
Delete one number in FadeOut Time input window.

## LOG FILE
[Toastify.log](https://github.com/aleab/toastify/files/1796112/Toastify.log)

[2018-03-09 11:11] aleab commented on #38
@F1rrel, thanks! I'll work on it.

[2018-03-09 11:36] smur89 opened #41 "Toastify fails to start"
Latest version of Toastify, to fix issue with the latest version of Spotify, doesnt work with my system. Dies on startup. I am running behind a corporate proxy.

## EXPECTED BEHAVIOUR
App should start up

## ACTUAL BEHAVIOUR
![image](https://user-images.githubusercontent.com/2413634/37205663-84480264-238d-11e8-9574-5f413e2edf50.png)

## STEPS TO REPRODUCE THE BEHAVIOUR
- Download the Toastify inst

[2018-03-09 11:54] aleab commented on #41
PR #40 will most likely fix it

[2018-03-09 13:06] Vankog commented on #4
I am a little bit confused about the issue at hand:
![volume](https://user-images.githubusercontent.com/3804909/37208790-e6983f0a-23a2-11e8-8eff-08b53671fc32.png)

Isn't this option what you are looking for?

[2018-03-09 13:16] aleab commented on #4
Hello there @Vankog!

I am confused now. Did you update to the latest release of Toastify yet? That *Spotify* option should definitely not be there anymore! 😕

[2018-03-09 14:15] Vankog commented on #4
Nope, was just contemplating about the issue. Will update in a bit.

BTW: Just saw the other issues that the volume control is affected by the new menu layout. So my comment is obsolete anyway ;-)

[2018-03-09 15:44] smur89 commented on #41
Great, thanks!

[2018-03-09 16:07] entozoon commented on #30
Epic work @aleab; fix works great!
Apologies for the vague bug report but looks like the community rallied round and contributed :)

[2018-03-09 18:12] aleab commented on #37
As promised, [here](https://github.com/aleab/toastify/files/1797890/ToastifyInstaller.zip)'s the test version.
In addition to the log file I'll also need every file inside _"C:\Users\\{UserName}\AppData\\**Roaming**\Toastify"_ (there should be either one or two files).

[2018-03-09 18:28] aleab commented on #38
Hi @F1rrel!
Since this issue seems to be similiar to #37, I'll just repeat what I said there.

Can you try [this](https://github.com/aleab/toastify/files/1797890/ToastifyInstaller.zip) test version and report back with the new log file **and** with the content of the _"C:\Users\\{UserName}\AppData\\**Roaming**\Toastify"_ directory?
You can either upload each file separately (there should be maximu

[2018-03-09 19:56] F1rrel commented on #38
Hi @aleab,
I have tried to install the test version, but I am getting an error:
System Windows can't get access to the device, file or path. Maybe you don't have the permissions to access this subject. (translated from the Slovak language)
I have run it as an administrator, so I should have the appropriate rights to it.

C:\Users\{UserName}\AppData\Roaming\Toastify
[Toastify.xml.zip](https://githu

[2018-03-09 20:05] aleab commented on #38
Can you upload you log file as well? It's in _"C:\Users\\{UserName}\AppData\\**Local**\Toastify"_.

That error message is really strange, because Toastify doens't require admin rights at all. Have you tried to **not** run it as administrator, but rather as normal user?

[2018-03-09 20:10] Suripurasu commented on #37
I can't be certain but I don't think my log file has been updated since my original posting.

[Toastify.log](https://github.com/aleab/toastify/files/1798268/Toastify.log)
[ToastifyXML.zip](https://github.com/aleab/toastify/files/1798273/ToastifyXML.zip)

[2018-03-09 20:14] F1rrel commented on #38
Running it as admin/normal user and changing compatibility did not help.

Here is the log file:
[Toastify.zip](https://github.com/aleab/toastify/files/1798289/Toastify.zip)

[2018-03-09 20:14] aleab commented on #37
It didn't in fact. That's odd!
Try this:
- Uninstall Toastify
- Remove the following directories:
  * _"C:\Users\\{UserName}\AppData\\**Roaming**\Toastify"_
  * _"C:\Users\\{UserName}\AppData\\**Local**\Toastify"_
- Re-install the test version I uploaded earlier and retry

[2018-03-09 20:40] Suripurasu commented on #37
I went through and deleted everything to do with Toastify and reinstalled once again and now it's working. Not sure what was going on but I think I had an older version that was somehow still installed that causing issues.

[Toastify.zip](https://github.com/aleab/toastify/files/1798342/Toastify.zip)
[Toastify.log](https://github.com/aleab/toastify/files/1798343/Toastify.log)

[2018-03-09 20:44] aleab commented on #38
I might have misunderstood your previous message. Did the *"System Windows can't get access to the device, file or path... "* error message came up after installing the test version (when you launched Toastify) or during the installation?

Also, it seems like Toastify couldn't reach Spotify's servers for some reason. Are you using Windows' *hosts* file to block (\**cough\**) Spotify's ads? Or perh

[2018-03-09 20:50] aleab commented on #37
Cool! I suspect that the old version the Settings file was causing problems. In the end removing that could have fixed the issue.

Did you update to my version straight from the original one (v1.8.3)? Or did you already use one of my previous releases?

[2018-03-09 20:51] Suripurasu commented on #37
I had been using the original up until the latest update, That's when I found yours.

[2018-03-09 20:57] aleab commented on #37
Alright! I'm glad your issue has been resolved.

By the way, I guess the latest official release works fine now, right?

[2018-03-09 20:58] Suripurasu commented on #37
Yup, Everything is working great! Thanks!

[2018-03-09 20:59] #37 closed

[2018-03-10 10:18] F1rrel commented on #38
Sorry, because of the message at the end of installation I suspected that the installation failed, but the toastify was installed and was running. But I could not open toastify settings for some reason.
Today after restarting the PC, I installed again the test version and tried to modify the fade time (did not work), so I am including the needed files.
[Toastify.zip](https://github.com/aleab/toast

[2018-03-10 11:39] aleab commented on #38
Thanks for the files. I'll try to replicate your issue and fix it ASAP.

[2018-03-10 16:07] aleab commented on #41
Hi @smur89. The mentioned pull request has been merged into the master branch yesterday.
I haven't yet released an official build, but in the meantime if you happen to be behind that corporate proxy again before I release it, you can use [this](https://github.com/aleab/toastify/files/1799542/ToastifyInstaller.zip) test build and see if it fixes your issue.

[2018-03-10 16:15] aleab commented on #38
Fixed it in the latest commit!
I'll release a new version soon™.

[2018-03-10 22:22] aleab commented on #38
New version has been released: [v1.10.4](https://github.com/aleab/toastify/releases/tag/v1.10.4)

[2018-03-10 22:22] #38 closed

[2018-03-10 22:23] aleab commented on #41
New version has been released: [v1.10.4](https://github.com/aleab/toastify/releases/tag/v1.10.4)

[2018-03-10 22:23] #41 closed

[2018-03-11 04:16] ersanqi opened #42 "how to install?"
Hi, how do I run the installation? I don't see any file that installs in one-click, from the downloaded zip file. Apologies for the newbie question, first time here.

[2018-03-11 04:26] aleab commented on #42
No worries!
Go [here](https://github.com/aleab/toastify/releases/latest) (this link will always point to the latest release) and download *ToastifyInstaller.exe*.

[2018-03-11 04:47] ersanqi commented on #42
Thank you so much for your kindness and link, also the quick reply! Works (:

[2018-03-11 04:47] #42 closed

[2018-03-11 13:41] Vankog commented on #37
side note:
@aleab

This sounds like a decent possibility for an improvement suggestion. Some kind of migration or config check to make sure updates take care of configuration issues.

[2018-03-11 13:47] Vankog commented on #42
hey, @ersanqi
Here is a tip for you.
You can find the current releases (incl. setup files) of Github projects usually at this point:
![releases](https://user-images.githubusercontent.com/3804909/37254173-0a7aa798-253b-11e8-9284-ce635224bba2.png)

Hope this helps!

[2018-03-11 14:56] aleab commented on #37
@Vankog

This is basically what happened in the last two weeks regarding the settings file:
- I switched from XML serialization to JSON serialization, because I needed to be able to populate default objects with deserialized data. The standard XML serializer doesn't provide this funcionality, but I knew Json.NET does, so I chose that library (b8bd253).
- I introduced a generic class ([`SettingValu

[2018-03-11 15:25] HamzaM opened #43 "Shortcuts not working"
Hello,

Using the latest version available on Windows and Spotify 1.0.75.483.g7ff4a0dc, the song is displayed on the bottom right as it is supposed to but the shortcuts I've assigned do not work and don't control the music.

Thanks for your work again, it is nice to see Toastify kept updated ;)

UPDATE: when pressing the button to map, remember that Ctrl or Shift might still be ticked above.

[2018-03-11 15:46] aleab commented on #43
I'm reopening this issue and marking it as an improvement suggestion, since having to tick/untick key modifiers every time might be annoying; it's much better and more intuitive to check if they are really pressed when registering the hotkey.

[2018-03-11 15:48] HamzaM commented on #43
Yes that's what I think would be more intuitive and logic as this is how it's supposed to be. If you could implement that, it would be easier for people and also avoid the issue I faced.

[2018-03-12 10:53] Capiz opened #44 "Toast is not presented when toastify is "minimized to progress bar""
Hi there

the toast is not presented when hotkey is pressed, even though my settings says so.
If toastify is present, the toast is "always on".
I can "show/hide" toast via hotkey, crtl+alt+space, but i would like it to show when new song is playing, next/prev song, play/pause.
Normally it was possible to have opacity, this is not possible anymore.
Could be awesome to have these features back to to

[2018-03-12 11:46] aleab commented on #44
Hi @Capiz!

Let's see if I understood correctly.

You have the *"Only show Toast when Hotkey is pressed"* option enabled (in the *Toast* tab of the settings) and the toast only shows up when you press the *Show/Hide Toast* hotkey. That's the expected behaviour.

If you disable the *"Only show Toast when Hotkey is pressed"* option, it will also pop up when the song changes (automatically, or by pre

[2018-03-12 12:01] Capiz commented on #44
Awesome fast return on this thread... Thanks a million... Case cloased... everything worked like a charm :-)

[2018-03-12 12:01] #44 closed

[2018-03-13 09:54] Kilay opened #45 "Add a hotkey to activate shuffle mode"
Hello,

Is it possible add a hotkey to activate/deactivate the shuffle mode in Spotify ?
It would be a great enhancement (at least for me ;) )

Thank you for your hard work.

[2018-03-13 10:39] aleab commented on #45
Before the latest update that would have been fairly easy to do, but now it isn't anymore. It's not impossible, but it would come with some downsides.
See last three posts of #31.

[2018-03-13 11:09] Kilay commented on #45
Sorry, I didn't see it was already asked. I totally understand that the two methods listed would be really bad implementation.
So you can close this issue for now if you want to.

[2018-03-13 11:13] aleab commented on #45
No worries! I'll keep this open, so everyone can easily see it.

[2018-03-13 15:40] Hoax87 opened #46 "Toastify timeout trying to start/recognize Spotify using a Proxy w/ auth."
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
Toastify should be able to control Spotify

## ACTUAL BEHAVIOUR
It is not working, because Toastify won't recognize Spotify. It's showing "Wating for Spotify" (even if this is already started by Toastify) and after a couple of minutes it returns an exception with "timeout"

## STEPS TO

[2018-03-13 16:01] aleab commented on #46
Thank you very much for the bug report @Hoax87! :+1:
This is definitely a problem with SpotifyAPI-NET, the library I'm using to communicate with Spotify. As far as I know it currently doesn't yet support proxy configurations, unfortunately.
I'll ask the owner of that project and I'll update you as soon as I have a fix ready.

[2018-03-13 21:38] Redtuzk opened #47 "More hotkey options?"
Hi,

Any chance that we can get the option of using mousebuttons as hotkeys?
I use a combination of Alt + Mousewheel up/down to quickly change volume while playing games.

It would also be awesome if we could get the option to use Right-CTRL as a hotkey (at the top, with a checkmark).

Thanks in advance!

[2018-03-13 22:06] uluo opened #48 "Hotkey to open Spotify not working"
I am unable to open Spotify using Toast hotkeys. It was originally mapped as Ctrl+Shift+Down, and worked before Toastify was broken with Spotify's latest update. I've tried different mappings, but none of them work, so it shouldn't be an issue of hotkey combinations.

Any idea if this can be fixed? It's quite useful to use the hotkey to bring Spotify up. I usually have it hidden on my taskbar.

[2018-03-13 22:49] aleab commented on #47
Hi @Redtuzk!

Currently Toastify only supports the side mouse buttons. There is indeed a chance I'll add the option of using the standard left/middle/right buttons and the mouse wheel as well at some point, but that will obviously come with some limitations. Imagine someone "accidentally" binding *MouseWheel Down* to *Next Track* and then scrolling a web page...

As for using right-Ctrl (I'll call

[2018-03-13 23:01] Redtuzk commented on #47
Hi again, thanks for the swift response.

Yea, would be fantastic to use the mousewheel again, so here's me crossing fingers :)

What I mean with using RCtrl is an option that'd look like this: https://i.imgur.com/YRwjTBg.jpg

I've previously been using an AutoHotKey script for the functionality that Toastify now provides, and I managed to distinguish between RCtrl and LCtrl in that, so the functi

[2018-03-13 23:04] aleab commented on #48
Hi @uluo!

By *taskbar* you mean the area in bottom left corner or the one in the bottom right corner, near the system clock?
The one on the left is called taskbar, the one on the right is called system tray bar/area. The *"Show/Hide Spotify"* action only works for the taskbar since the latest update, unfortunately.

[2018-03-13 23:11] uluo commented on #48
Oops! I did mean the system tray. And you're right in that the hotkey only works if Spotify is on my _taskbar_, I'll just have to make do with that for now. Thanks for the help!

[2018-03-13 23:55] aleab commented on #47
Windows does indeed make a distinction between left and right keys in most of its APIs (when [virtual-key codes](https://msdn.microsoft.com/en-us/library/windows/desktop/dd375731.aspx) are used), but unfortunately not when it comes to the modifier keys of global hotkeys ([source](https://msdn.microsoft.com/en-us/library/windows/desktop/ms646309.aspx)).

The only solution I can think of (which I gu

[2018-03-13 23:58] #48 closed

[2018-03-13 23:58] Redtuzk commented on #47
Really appreciate you looking into it, thank you 👍

[2018-03-14 10:49] kimsey0 opened #49 "Keep running Toastify in background when Spotify is closed"
Right now, Toastify runs Spotify when it's started and automatically shuts down when Spotify is closed.

I would like for Toastify to instead continue running in the background, periodically checking if Spotify has been started again. This could potentially be a setting that could be toggled on and off.

Implementing this could probably also allow running Toastify on boot _without_ starting Spotif

[2018-03-14 12:57] aleab commented on #49
Hi @kimsey0!

Sounds like a complete waste of computing power to me. What's your use case exactly? Convince me.

The only use cases I can think of for people to want to use Toastify are:
- they want to listen to some music with Spotify, so
  * they launch Spotify;
    + they later decide they want to be able to use hotkeys, so they launch Toastify.
  * they launch Toastify, which takes care of lau

[2018-03-14 14:42] kimsey0 commented on #49
Hi @aleab! I'd be happy to explain my use case:

I have Spotify pinned to my taskbar, click the icon to start it, and exit it whenever I don't want to listen to music (so I can't accidentally start it). I only use Toastify for the hotkeys, which I wish were built into Spotify. Having to pin another icon to the taskbar and use that to launch Spotify is a nuisance which I'd rather avoid. In general,

[2018-03-14 15:09] aleab commented on #49
Hi @kimsey0. I see, that seems kinda reasonable. The taskbar might get a bit crowded at times and pinning Toastify instead of Spotify wouldn't solve anything.
I think I can add that option, but it probably won't happen soon (it won't be in the next release, at least).

[2018-03-14 19:38] kimsey0 commented on #49
I've had a look at the `Spotify` class myself, and it doesn't seem like this would be too complex to implement. I can't find a way to hook Windows process creation without elevated privileges, so I'm thinking Toastify may have to run a background thread like `spotifyLauncher` and check for a Spotify process every once in a while.

I'm unsure what would be a good trade-off between not using too man

[2018-03-14 21:45] aleab commented on #49
I honestly know pretty much nothing about partial/full trust code and unelevated/elevated privileges in .NET. What I know, though, is that a .NET application that requires *full trust* doesn't necessarily require to be run as administrator.

That said, I've found [this](https://msdn.microsoft.com/en-us/library/s4acy5e2.aspx) WMI class that could be used to monitor process creation. Regarding its u

[2018-03-14 21:46] seiffs opened #50 "Volume Up/Down doesn't work"
After the March 2018 Spotify update the old Toastify stopped working. So I upgraded to this fork version 1.10.4. Most shortcuts like pause/play/next/prev started working, but Volume up/down still don't work.

## EXPECTED BEHAVIOUR
Mapped hotkeys for Volume Up/Down should modify the sound volume.

## ACTUAL BEHAVIOUR
Nothing happens when pressing those hotkeys

## STEPS TO REPRODUCE THE BEHAVIOUR
M

[2018-03-14 22:10] aleab commented on #50
Hi @seiffs! Thanks for the bug report.

Just a couple of questions.
1. What *"Volume control mode"* option are you using in Toastify? *Global* or *Spotify*?
2. Do you have any software running that could interfere with media keys (maybe other media players) or that could be messing with Windows volume objects, i.e. the Mixer (maybe something like VoiceMeteer)?

[2018-03-14 22:17] seiffs commented on #50
Hi,
I didn't notice there is an option to switch the _Volume control mode_. There was _Spotify_ and after switching it to _Global_ it started working.

So it's not a bug. Thank you for the suggestion.

[2018-03-14 22:21] aleab commented on #50
It should be working in either case, though. The *"Global"* option changes the global volume in the Windows Volume Mixer, while the *"Spotify"* option only changes Spotify's volume in the Volume Mixer.

Glad it's resolved! 😄

[2018-03-15 00:02] computerwizjared commented on #26
For anyone encountering this issue in the future, I discovered that Toastify was having trouble accessing the domain "open.spotify.com" due to a filter in place. Make sure you don't have something, whether DNS, a firewall, or a web filter blocking Spotify, and you should be good 👍

[2018-03-15 08:51] kimsey0 commented on #49
I also found the same class, and got an error when I tested it in LINQPad, which made me assume that it required _elevated priviledges_ (run as administrator), but as you noted, it only requires _full trust_, which Toastify has. That makes it seem like a good solution.

[2018-03-15 09:23] kimsey0 commented on #49
A simple query a la this seems to work great:
[code]

[2018-03-15 09:45] trevtrevtrev commented on #37
Thanks for getting this new version out to us but I get the 'technical timeout' error. I see it from the logs its looking for external internet access which I need to send via a proxy. No proxy options in the Settings, are there some I can put in the .cfg file?

[2018-03-15 09:51] aleab commented on #37
@trevtrevtrev, proxy settings are being worked on. See #46.

[2018-03-15 10:09] aleab commented on #49
Then we're golden!! Have you tried running it from a non-admin account as well?

I'll double check myself if it works in the following days and then implement it in the `Spotify` class afterwards.

[2018-03-15 11:56] kimsey0 commented on #49
Yes. It works from a non-admin account as well. 😄

Sounds good if you'll implement it. I'll just hold off for now, then.

[2018-03-16 07:35] gurkburk76 opened #51 "Toast fade-out time"
I expected to be able to set the time for the fade-out time for toast below 1000 msec, can't go lower than 1000 atm.

[2018-03-16 07:38] gurkburk76 commented on #51
I was able to have it sub-1000msec on versions prior to 10.4, unsure if this behaviour of not beign able to go below 100msec was introduced in this forked version that works with spotify 1.0.75.483.g7ff4a0dc

[2018-03-16 07:55] gurkburk76 commented on #51
Seem like the change needed would be here:

src/Model/Settings.cs

public void SetDefaultToastGeneral()

 this.FadeOutTime = new SettingValue<int>(DefaultValueOf(this.FadeOutTime, nameof(this.FadeOutTime)), new Range<int>(1000, int.MaxValue));

change 1000 to .. well 1 or something :)
Next time you release, please adjust.

[2018-03-16 08:03] aleab commented on #51
What's the point of having the toast show up for 1ms or even anything below 1s? Just disable it.
I'm curious, what are you using the toast for? I think it's biologically impossible to read its content in less than a second.

[2018-03-16 08:10] gurkburk76 commented on #51
I ususally like to use 500ms or so, below 1ms would be stupid, but below 1000ms pretty resonable i think.

[2018-03-16 14:19] aleab commented on #51
Reduced the minimum allowed value to 100ms. Values lower than that caused some visual glitches sometimes.

The next version will come out as soon as the major bugs and requests reported in the current version are fixed.

[2018-03-16 14:20] #51 closed

[2018-03-16 14:22] #50 closed

[2018-03-16 17:25] aleab commented on #49
I've got bad news unfortunately: this method requires admin privileges, unfortunately! 😞
As soon as I called `watcher.Start()` to subscribe to the watcher's events, it threw an exception saying "Access denied". It didn't when I run it as admin.

Do you think that requiring admin privileges only to use this feature is a problem? Is it for you, for example?
I really want to avoid using a long-runnin

[2018-03-17 14:40] clarkycal opened #52 "Toastify saving bug?"
Hello,
In the current release, saving doesn't seem to work (For me at least), I had given toastify.exe application access within my Anti-Virus, still, doesnt work.

Here is a video I created to show many examples: https://youtu.be/98yVi-iV9wM
To summerise, say I was to tick 'Launch toastify on windows' and then hit 'save', then restart the program it will not remember what I had chosen after savin

[2018-03-17 14:58] aleab commented on #52
Hi @clarkycal.

You are indeed right! Hotkeys and *"Launch toastify on windows"* settings are not saved or loaded correctly for some reason.

I'll investigate right away.

[2018-03-17 15:11] Tumpo commented on #52
I just came here to tell this and only to see that fixing has started 12 minutes ago. Awesome job!

[2018-03-17 16:11] aleab commented on #52
Fixed it! I have no ETA for the next release, though. I still have to fix a couple more things.

[2018-03-17 16:11] #52 closed

[2018-03-17 17:18] marczellm opened #53 "Upload to Windows Store"
I have Spotify installed and automatically updating from the Windows Store. Sometimes those updates break Toastify, and I have to download and install the new version of Toastify manually. Could we upload Toastify to the Store and have automatic updates that way?

[2018-03-17 17:54] aleab commented on #53
I don't think this will ever happen, honestly.

If automatic updates are your concern and the current *"New version available"* notification is not enough, I could implement some sort of auto-download/auto-install thing, instead of redirecting to the project's releases page. That's the most I'm willing to do, though.

[2018-03-17 18:00] marczellm commented on #53
I would volunteer, though I don't know how much work it would be; but if I'm the only one wishing for this, it's not worth the effort.

[2018-03-17 18:08] aleab commented on #53
You are free to try and convert it to a UWP app. I know very little about UWP app development, so I'm not sure how much work it's needed or if the app itself would even meet Microsoft's criteria. Do they even accept FOSS in their store?

[2018-03-17 22:22] marczellm commented on #53
I haven’t tried it yet, but I think instead of rewriting as UWP, Toastify could be uploaded as is; the Store accepts traditional („Win32”) desktop apps. That’s how Spotify is there.
FOSS should be no problem, for example MuseScore (GPL) is available in the Store.

[2018-03-17 23:05] aleab commented on #53
Alright, so FOSS and Win32 apps (I guess packaged in some way) are ok. That's one step in the right direction.

What about the sandboxed nature of UWP apps? Toastify uses quite a few native APIs. Is it safe/allowed to use them from a UWP context? Are low level mouse hooks possible, for example? Is it possible to launch other UWP or traditional Win32 processes from the sandbox?

Some things will st

[2018-03-17 23:15] marczellm commented on #53
It’s not a UWP context. A desktop app converted with the Desktop Bridge runs as is. It’s still an exe. The sandboxing mostly means a virtualized AppData folder separate from the normal one AFAIK. And of course installing and uninstalling happens within the Store UI.

Here’s a list of things it cannot do though: https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-prepare

[2018-03-17 23:53] aleab commented on #53
Thanks for the link. From a quick read, the things listed don't seem to be a problem.
I'll surely give it a try some day soon™, but I'm not sure it's really worth the trouble. I'll put a link to some kind of poll in the next release's changelog; if the demand is *acceptable* (not necessarily prevailing), I'll put some actual effort into it.

[2018-03-19 09:21] gbarranco opened #54 "Technical error when launching Toastify on W10"
Hello,
I installed this version of toastify because I have the windows store version of Spotify.
I downloaded the 1.10.4 version and had this issue. I tried the 1.10.3 and had the same issue.
Did I do something wrong ?

Thank you very much

![image](https://user-images.githubusercontent.com/5775774/37587244-12f9f4ee-2b5f-11e8-8ec3-be22734bacb1.png)

[2018-03-19 09:25] gbarranco commented on #54
The problem was only when I tried to launch the program from the installation tool.
When I launched it from the C:\Program\Toastify\toastify.exe file, it worked fine.

[2018-03-19 09:25] #54 closed

[2018-03-19 15:21] Kilay opened #55 ""Launch Toastify with Windows" setting is not saved"
When I check "Launch Toastify with Windows" setting and saved, notification says that "Settings Saved" but if I close Toastify and start it again, the setting is not checked anymore. And Toastify does not start when I start Windows.

Also, when I check the "Launch Toastify with Windows" setting, I can see the process added in my Task Manager (under startup tab). If I close Toastify, the process st

[2018-03-19 15:28] aleab commented on #55
Hi @Kilay!
You issue has already been reported in #52. It'll be fixed in the next release.

[2018-03-19 15:30] aleab commented on #55
I'll actually leave this issue open, so it's easier to see it in case anyone comes around with the same problem. 😄

[2018-03-19 16:31] Kilay commented on #55
Once again, thanks for the quick response and the hard work :D
Will wait the next release.

[2018-03-20 11:43] Vankog commented on #51
@aleab I think you confused fade-out time with on-screen time, did you? ;-)

[2018-03-20 11:53] Vankog commented on #49
Just throwing in a thought:
What about using Toastify as a service? They are meant for such use cases. Couldn't this done via the installer as well? Doesn't the setup get admin privileges anyway?

But could also be optional, for when the user explicitly wants this functionality. In this case you can inform him/her about the (possible) need for admin rights.

[2018-03-20 12:01] Vankog commented on #53
I am a big proponent of auto-updates.
I even like to have them as seamless as possible like with Chrome/Drive/Dropbox (even Spotify) etc.
As Spotify updates often break Toastify, this would just make sense, because fixes can be rolled out quickly to everyone.

On the other hand, there has to be some kind of mechanism to opt-out, because sometimes you explicitly want to stay on a certain version fo

[2018-03-20 12:19] aleab commented on #51
@Vankog What makes you think so? 😕

[2018-03-20 12:38] aleab commented on #49
@Vankog How would you set it up? I mean, AFAIK Windows services don't have a GUI, so Toastify service should be separated from the main process and the two should be able to communicate.

Let's say the user decides to "Keep Toastify running in background when Spotify is closed" during installation (and thus install and enable the service, which is indeed possible from the installer), but later dec

[2018-03-20 13:02] aleab commented on #53
@Vankog What's your opinion on uploading to Windows Store? Do you think it's worth it just for the sake of introducing auto-updates?

[2018-03-20 14:36] mjordanBetBright opened #56 "Open Spotify by Clicking Toast while Spotify is minimised to System Tray"
## EXPECTED BEHAVIOUR
Clicking on the Toast Notification used to open Spotify when closed

## ACTUAL BEHAVIOUR
It only opens if Spotify has been minimised

## STEPS TO REPRODUCE THE BEHAVIOUR
Close Spotify (minimised to tray)
Open Toastify notification
Click on it
Spotify should open, but does not

If Spotify is minimised to the taskbar, clicking on the toast works. This is only when Spotify is mi

[2018-03-20 14:40] aleab commented on #56
Duplicate of #48.
Unfortunately I can't fix it.

[2018-03-20 14:40] #56 closed

[2018-03-20 14:43] mjordanBetBright commented on #56
I should've searched for that. Sorry for the duplicate. Thanks for the response and great work on the tool.

[2018-03-20 17:33] Vankog commented on #51
because of:

You are talking about the fade-out time as of the time the toast is visible.

[2018-03-20 17:45] Vankog commented on #49
I have no experience with Services. But using a service is nothing unusual for some applications. See the several update services of Adobe, Dropbox, Google etc.,
or IPSEC, IKE daemons of my VPN client
or Steam Client Service ("C:\Program Files (x86)\Common Files\Steam\SteamService.exe" /RunAsService)
and so on.

I'm not sure. But having a service doesn't mean you have to use it. There must be a wa

[2018-03-20 18:02] aleab commented on #51
Exactly! 😕
The fade-out time is not the duration of the fade-out animation (which is fixed to 500ms), but rather the time span T after the fade-in animation during which the toast remains visible.

I concur that *"Visibility duration"* might have been a better label for it, but I think I just stick to what nachmore used before me.

[2018-03-20 18:16] aleab commented on #49
I'll have to take a serious look at services then.

[2018-03-21 16:47] aleab commented on #46
@Hoax87 @trevtrevtrev

Hi! Unfortunately, the maintainer of the SpotifyAPI-NET project has yet to approve my pull request which adds proxy support to his library, so I don't have an official fix ready yet.
However, what I do have is a version of Toastify which uses an unofficial custom build of that library with my fixes. Can you try it out and see if it resolves your problem?

The download is [he

[2018-03-22 09:14] trevtrevtrev commented on #46
Launched new version, does the "waiting...", eventually get the timeout but that exits the program so cant get into change settings. Can I put the proxy details directly into the .cfg file? If so, whats the syntax?

[2018-03-22 09:39] aleab commented on #46
@trevtrevtrev I haven't added proxy settings into the file yet, since I wasn't even sure this was going to work properly.
Anyway, can you upload your log file? It's in *"C:\Users\\{UserName}\AppData\Local\Toastify"*

[2018-03-22 09:50] trevtrevtrev commented on #46
[Toastify.cleaned.log](https://github.com/aleab/toastify/files/1836917/Toastify.cleaned.log)

[2018-03-22 11:43] aleab commented on #46
@trevtrevtrev Hi! Let's try again. 😄

[ToastifyInstaller.zip](https://github.com/aleab/toastify/files/1837288/ToastifyInstaller.zip)

This ***should*** work and ask you to input your proxy settings. If it doesn't you can put the proxy details directly into the cfg file using the following syntax:
[code]

If needed by the proxy, you can add a "Username" and "Password" to "ProxyConfig" as well.

[2018-03-22 16:25] trevtrevtrev commented on #46
OK I tried that version, got the popup for my proxy info, entered it but it keeps popping up asking me for details again. I need to pass it credentials and when the popup reappears, the password fails is blank. When I've edited the config file manually to put ion the details, on launch it still pops up with the proxy box, same behavior - keeps reappearing then times out with no connectivity.

Same

[2018-03-22 18:53] aleab commented on #46
I might have done a **very** bad beginner mistake there! :sweat_smile: I'll fix it ASAP.

Sorry for the hassle and for using you as a test subject. :sweat:

[2018-03-23 07:56] trevtrevtrev commented on #46
Heh, no problem, happy to help. Just looking forward to getting me global keys back, its one of those things that once you're used to having them its a real pain when you loose them.

[2018-03-23 14:14] aleab commented on #46
*"Third time's the charm"*, they say!
Here's the new version: [ToastifyInstaller.zip](https://github.com/aleab/toastify/files/1841792/ToastifyInstaller.zip)

Let me know how it goes. 🤞

[2018-03-23 15:58] trevtrevtrev commented on #46
Success! it works, it crashed on me a few times at the beginning, attached logs and errors, but now seems OK. When I launch it stays on 'waiting' with the grey tray icon for about 70 seconds, then it goes green and my shortcut keys start performing as they should. Now that could be my proxy setup as Spotify itself takes a muted to connect too after launch.

So far so good anyway, will report back

[2018-03-23 16:53] aleab commented on #46
:tada: :tada: :tada:

I guess the album arts are not displayed or something, right? I forgot to forward the proxy information to the album art *downloader*.

[2018-03-24 13:54] clarkycal commented on #55
Any update on the next release?

[2018-03-24 14:31] aleab commented on #55
@clarkycal I'm currently working on #46 (for which I'm waiting for [this](https://github.com/JohnnyCrazy/SpotifyAPI-NET/pull/224) pull request to be approved and implemented in an official version of SpotifyAPI-NET), #47 and #49.
I wanted to bundle them all up in the next release; at the very minimum, if I can't fix #47 and #49 quickly, I want to include the fix for #46 which seems to be the great

[2018-03-24 14:33] clarkycal commented on #55
@aleab  Very well, sound good! Can't wait.

[2018-03-26 08:09] trevtrevtrev commented on #46
So album art inst displaying and the song name toast is hit and miss. On launch it will display the name of the current/first sing ok but it wont pickup the next track. It will eventually get the right track if I trigger the toast, but it's information each time is about a minute old.

[2018-03-26 11:52] aleab commented on #46
Thanks for reporting back, @trevtrevtrev! :+1:
I already fixed the first issue (album arts) and the second one will be fixed shortly.
The next official release will hopefully be available in a few days.

[2018-03-26 12:47] iChippy opened #57 "Toastify on startup"
Not too sure if anyone else is getting the same issue that I am (hell maybe a fresh install will fix it I haven't tried yet) but when having toastify on startup it doesn't actually start, both toastify and Spotify will open but none of the toastify hotkeys work until I exit toastify and reopen it.

[2018-03-26 19:10] aleab commented on #57
Just tested with both the latest release and the current unreleased version of the master branch, and I couldn't reproduce your issue. Toastify and Spotify both start up and hotkeys work correctly.

[2018-03-27 01:17] aleab commented on #46
@trevtrevtrev I'd like to have you test one last time this unofficial version before I make the changes official, just to be sure it stands the test of a real proxy server (instead of my in-house one).

Both the recent issues should be resolved, assuming the reason the toast text didn't change in time was because it was waiting for the album art.

[ToastifyInstaller.zip](https://github.com/aleab/t

[2018-03-27 14:08] lazyb5 commented on #57
I can't get it to save the setting either. I just put a shortcut in the startup folder for now.

[2018-03-27 14:25] aleab commented on #57
@lazyb5 Yeah, that particular setting is currently bugged. Will be fixed in the next version, though.

[2018-03-28 08:13] trevtrevtrev commented on #46
Ok, I can see the album art now but the settings is a bit buggy, when I hit save I get the unhanded exception and if I hammer it a few times, it will crash and throw that error attached.

If I end process and re-launch it, and leave the UI untouched, (editing the cfg for my keys) it's working away fine, shortcuts work and art displays, still seems to to be that delay in new song play toast and pro

[2018-03-28 09:34] aleab commented on #46
@trevtrevtrev Can I see the log file, please? That exception was totally unexpected.

[2018-03-28 10:02] trevtrevtrev commented on #46
Ahh yes, it would be handy!
[Toastify.cleaned4.log](https://github.com/aleab/toastify/files/1855470/Toastify.cleaned4.log)

[2018-03-28 23:47] aleab commented on #46
@trevtrevtrev About that 30 seconds delay – I'm not really sure on what might be causing it. It's unlikely that it's your proxy setup, since everything, except the download of the album art, happens client-side by querying Spotify client's local server at `localhost:4381` and the proxy information is not even used in that part of code.

If disabling the proxy is a possibility, you could try testin

[2018-03-31 02:32] aleab opened #59 "Implement a /quiet installation to complement the new auto-updater"
When a new update has been download and is ready to be installed, if the user chooses to install it straight away, the installation should be as seamless as possible:
1. The user clicks *"Install"* in the message box.
2. The installer is launched with the */quiet* parameter.
3. Toastify is terminated.
4. Toastify is restarted automatically after the update.

[2018-03-31 15:42] aleab commented on #55
Fixed in new version [v1.10.5](https://github.com/aleab/toastify/releases/tag/v1.10.5)!

[2018-03-31 15:42] #55 closed

[2018-03-31 15:45] aleab commented on #47
*MWheelUp/MWheelDown* have been added in the new version [v1.10.5](https://github.com/aleab/toastify/releases/tag/v1.10.5)!
The other feature will probably come much later, unfortunately.

[2018-03-31 15:46] aleab commented on #46
Fixed in new version [v1.10.5](https://github.com/aleab/toastify/releases/tag/v1.10.5)!

[2018-03-31 15:46] #46 closed

[2018-03-31 19:50] aleab commented on #50
@BattleNachos, thanks for the heads-up, that will surely help someone with the same issue in the future.

I might also add that probably (I'm not sure) having softwares like Voicemeeter installed, or however something that *messes* with the Mixer's objects, might give unexpected results.

[2018-03-31 20:43] aleab commented on #52
Fixed in new version [v1.10.6](https://github.com/aleab/toastify/releases/tag/v1.10.6)!

[2018-04-01 14:43] clarkycal commented on #57
Going to bump this issue, as it still doesn't work for me even after the new release which fixed the saving bug. (Spotify doesn't start with windows)

[2018-04-01 16:00] aleab commented on #57
@clarkycal Yeah, I noticed it's still a bit glitchy, but the setting is saved correctly now. This time, the problem is that it resets to the default value only the first time you open the Settings window.
For now, the solution is to tick and untick the option a couple of times every time you open the Settings window.

I'll probably release an [other] hotfix soon™.

[2018-04-01 17:16] Aldarana opened #60 "Crash when using MouseWheel hotkeys"
When assigning Mouse Wheel Up or Mouse Wheel Down as a hotkey Toastify will crash after saving the change. Toastify will continue to crash every time it is launched after that until the config file is deleted or the system is restarted. After a system restart the setting appears to be saved but doesn't seem to work.

Assigning MWheel UP/Down to any hotkey seems to cause the problem though I didn't

[2018-04-01 18:04] aleab commented on #60
Unfortunately, some major change I've introduced in the last few days after adding that feature might have broke it. I should have tested everything again before releasing the update, I'm sorry. 😓

I'll look into it and probably release an hotfix in the following days.

[2018-04-01 18:08] aleab commented on #47
As reported in #60, *MWheelUp/MWheelDown* don't actually work as intended, due to recent changes that broke the feature. I should have tested them again before releasing the update. 😓

@Redtuzk Hold off from using them until I release an hotfix, please.

[2018-04-01 18:12] Vankog commented on #60
Can confirm this.
Disabling the Hotkey does work, though.

Unfortunately the Log does not provide any information about this.
The Windows Event viewer has some information:
It results into three subsequent crashes.
1. from .NET with a System.NullReferenceException
1. Application Error with unknonw module
1. Application Error in module: C:\Windows\System32\KERNELBASE.dll

[2018-04-01 18:28] aleab commented on #49
That's a nice idea! 👍

[2018-04-01 18:31] aleab commented on #60
@Vankog I reproduced this in Visual Studio. It's *"just"* a callback being made to a supposedly garbage collected delegate.
I'm currently reviewing every commit after c85dc52, to find out what broke it.

[2018-04-01 19:32] Redtuzk commented on #60
@aleab All good, I'm just happy you implemented the feature I requested so quickly! :)

[2018-04-02 02:15] aleab commented on #57
Just released the hotfix. Sorry for the poor quality of the previous fix. 😓

[2018-04-02 02:20] aleab commented on #60
I just released an hotfix. It's fixed now.

[2018-04-02 02:46] clarkycal commented on #57
@aleab Cheers mate, I will report back if there are any issues! Thanks.

[2018-04-02 13:23] Vankog opened #61 "full path of developer sources in log"
Just a minor issue that I just realized while checking the log:

## EXPECTED BEHAVIOUR
The log should not provide the full path of the developer PC's sources, but only the relative paths.

## ACTUAL BEHAVIOUR
Exceptions might show paths to sources on the developers PC. e.g. (see last line):

[code]

## LOG FILE
[Toastify.log](https://github.com/aleab/toastify/files/1868150/Toastify.log)

[2018-04-02 13:42] Vankog commented on #59
some auto-updater thoughts from user's perspective for discussion:
* As an informed/interested user, I'd like to see the changelog *before* I decide to hit "Update".
* As a user in general, why should I open the folder of the downloaded setup? (auto download enabled)
* As a user who:
   * does not care about updates ("never touch a running system)
   * or is annoyed by update processes ("Aw, come

[2018-04-02 14:15] aleab commented on #59
1. That's why there's the *"Go to GitHub button"*.
I'll probably change it to *"Show changelog"* instead, but that will only show the changelog of the latest version; I still have to work on a full changelog viewer.
2. You may not want to install the update immediately, but at the same time you want to know where the installer has been downloaded, so that you don't have to download it a second tim

[2018-04-02 14:30] Vankog commented on #61
I see. Well it was just something I wanted you to be aware of. Because some people may say this is a security related issue. Some may say it is misleading for users or other devs.
But in my eyes it is nothing to be worried about.

[2018-04-02 14:32] Vankog commented on #61
uh, just found something:
https://stackoverflow.com/questions/27952/how-do-i-change-the-locations-of-source-files-in-a-symbols-file-pdb

[2018-04-02 14:51] clarkycal commented on #57
I'm sorry, I'm not sure if I am doing something wrong. Just doesn't work, even after the hotfix.

[2018-04-02 14:57] Vankog commented on #59
1. I see. Well, I was just referring to some update dialogs I came across in the past. Like TortoiseSVN / TortoiseGit or Evernote or VLC (I think). They show the user an update dialog that directly embeds the changelog right away. I kind of like this approach. But nothing to really worry about. Showing the changelog afterwards is totally fine as well.
2. Good point. But shouldn't Toastify just han

[2018-04-02 15:04] clarkycal commented on #57
I have given you the new and old.
[Toastify.log](https://github.com/aleab/toastify/files/1868386/Toastify.log)
[Toastifyold.log](https://github.com/aleab/toastify/files/1868387/Toastifyold.log)

[2018-04-02 15:15] aleab commented on #59
2. I think that makes sense. That's doable.
3. This is doable as well! We could add a notification in the Settings window and/or display a flash toast (a couple of seconds) that if clicked starts the installation, and also have Toastify auto-update itselft upon restart.
A flash toast is already used for the *"Notify only"* update mode, so that's ready to use.

[2018-04-02 15:19] aleab commented on #61
Yeah, that's a bit complicated.
The workaround does not keep the interesting part of the stack trace, though, that is the line numbers.

[2018-04-02 15:31] aleab commented on #57
There's nothing in there unfortunately.
Try following these steps:
1. Start Toastify, open the settings window and enable the *"Launch Toastify with Windows"* option (disable and re-enable it if it's already ticked)
2. Save but don't close the settings window
3. Press `Windows Key + R` on your keyboard and type `regedit`
    1. If you are on Windows 10, paste `Computer\HKEY_CURRENT_USER\Software\M

[2018-04-02 15:38] Vankog commented on #57
Hm... might this be an issue with security/antivirus software?
Toastify has no certified signature, so maybe some security software blocks auto start.

Please check regedit `HKCU\SOFTWARE\Microsoft\Windows\CurrentVersion\Run` for the Toastify entry.

[2018-04-02 15:41] clarkycal commented on #57
![untitled](https://user-images.githubusercontent.com/8182599/38202733-ac8a2da0-3694-11e8-9058-306491fb1bdc.png)
Toastify has access, so idk, i will check the reg key

[2018-04-02 15:50] Vankog commented on #57
If on Windows 10, also make sure that Toastify is activated in the Taskmanager -> Autostart tab.

[2018-04-02 16:17] clarkycal commented on #57
![untitled](https://user-images.githubusercontent.com/8182599/38204160-9f366e52-3699-11e8-9eec-629787826497.png)

![untitled2](https://user-images.githubusercontent.com/8182599/38204183-bf7c799a-3699-11e8-8962-86e9eda1646c.png)

[2018-04-02 16:42] aleab commented on #57
Let's try to debug this issue.
Follow these steps:
1. Re-open the Registry Editor and navigate to `Computer\HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Run` as before.
2. Double click on *"Toastify"* and change `"C:\Program Files\Toastify\Toastify.exe"` to `"C:\Program Files\Toastify\Toastify.exe" --debug`.
3. Close the Registry Editor.
4. Go to `C:\Users\clark\AppData\Local\Toasti

[2018-04-02 16:42] Vankog commented on #57
Alright, everything seems in place.
The other entries do start, right? (steam, vibrance, dicord etc.)

[2018-04-02 16:52] clarkycal commented on #57
@Vankog Yep
@aleab  Alright done

[2018-04-02 16:53] aleab commented on #57
Oh, yeah, post the log file, please. Forgot to say that.

[2018-04-02 16:55] clarkycal commented on #57
eh, yeah, that's a problem, there isn't one since it didn't start. So you want me to manually start it?

[2018-04-02 16:56] aleab commented on #57
Nope, I just wanted to be sure it wasn't crashing at startup.

[2018-04-02 16:56] clarkycal commented on #57
it's like my windows won't even try to start it

[2018-04-02 17:05] Vankog commented on #57
Right. Let's do some basic checks, just to be sure:
Could you please make sure, that the path in the registry is actually correct? Maybe there is a bug and the path is a bit off or there is a faulty character in there.

1. Copy the path inside the registry key, hit windows-key (so the start menu opens) then ctrl+v then enter. Toastify should start. (with or without --debug, doesn't matter)

[2018-04-02 17:14] Vankog commented on #57
It seems you are not the only one with this issue:
https://stackoverflow.com/questions/45583405/why-does-my-c-sharp-application-not-start-automatically-on-logon
For whatever reason, the WOW6432Node\ node might actually work.

[2018-04-02 17:23] clarkycal commented on #57
I fixed it, For some reason, toastify and Spotify were set to run as admin, therefore this was stopping them from starting, removing that admin check allowed them to start.

[2018-04-02 17:31] aleab commented on #57
@clarkycal Awesome!

[2018-04-02 17:43] aleab commented on #57
I don't think so. As @clarkycal found out, the problem is that Toastify was set to run as admin, so the registry startup key wasn't working since I guess it required elevated priviledges.

I think this is a problem that needs to be addressed nonetheless for #49. Using a service might actually solve everything since we wouldn't need to use the registry *Run* key at all, but if I end up not using a

[2018-04-03 09:55] #60 closed

[2018-04-03 10:48] pedropita opened #62 "Toastify doesn't work behind a proxy"
Hi,

Following the last updates ( I think the last version that worked here was 1.10.4 ) I cannot use toastify anymore on my workplace.

I work behind a proxy and toastify seems to be ignoring it. I get this error on startup:

---------------------------
Toastify
---------------------------
An error occurred when trying to start Spotify.

Additional details:
An error occurred when trying to connec

[2018-04-03 10:59] aleab commented on #62
Can I take a look at the most recent log file? You can find it in `C:\Users\{UserName}\AppData\Local\Toastify`.

What I think is happening is that Toastify is indeed using the proxy correctly, but either the firewall on your work pc or on the router/modem is specifically blocking the connection to Spotify.

[2018-04-03 11:02] pedropita commented on #62
Sure [Toastify.log](https://github.com/aleab/toastify/files/1871215/Toastify.log)

What is the connection that is being attempted ?
I can open open.spotify.com:443 through my worksplace proxy (tested on a browser)

[2018-04-03 11:08] aleab commented on #62
The connection that is being attempted is to *"http://open.spotify.com"*.

[2018-04-03 11:29] aleab commented on #62
I think I know what is happening. It might be that Toastify is not using the proxy at all and that is why it fails to connect. Generally, if Toastify detects that a proxy is needed, it would ask you to enter your proxy details, but something might be going wrong.

What you could try is to edit the config file manually. The config file is in `C:\Users\{UserName}\AppData\Roaming\Toastify`.
Open it w

[2018-04-03 12:29] marczellm opened #63 "Remember install location"
When installing a new version, the installer offers to install to `C:\Program Files\Toastify`, despite it being installed elsewhere.

The installer is able to detect and shut down a running instance so I believe it should offer the original install location as well.

[2018-04-03 12:35] aleab commented on #63
You are perfectly right, it should. I'll add that to the next release.
Thank you.

[2018-04-03 12:41] pedropita commented on #62
Perfect, got it working by manually configuring the proxy in the cfg file :)

Thanks for your fork and evolution of toastify, and extremely fast response.

[2018-04-04 16:34] aleab opened #65 "Internal Design Overhaul: Spotify"
## Internal Design Overhaul: Spotify

The `Spotify` class handles way to many things right now:
- Initialization of the `SpotifyLocalAPI` and event handling.
- Spotify client startup (that's a good 400+ LOC).
- Interaction with the Spotify client.
- It holds probably unnecessary public properties such as `CurrentSong`, `IsPlaying` and `IsRunning` (not sure, I didn't check the references).

I didn'

[2018-04-04 17:30] aleab opened #66 "Internal Design Overhaul: ToastView"
## Internal Design Overhaul: ToastView

`ToastView` is one of the other monsters of Toastify codebase: 1200+ LOC. This is the code-behind of the Toast view and entry point of the whole App.
It currently does the following:
- Initializes the Toast window.
- Initializes the tray icon.
- Starts the `Spotify` class by calling the `Spotify.StartSpotify()` method, which also launches the Spotify client

[2018-04-04 17:31] Vankog commented on #65
Wow, this new Kanban/Project view looks awesome. Since when is this available?

I think we should also consider unit tests for `Spotify`.
This means:
* writing some basic tests for `Spotify` in the first place to support the refactoring process.
* refactor `Spotify` with testability in mind:
   * keep count of methods with side effects as low as possible. -> "clean" functions" are easiest to test.

[2018-04-04 17:35] aleab opened #67 "Internal Design Overhaul: Settings"
## Internal Design Overhaul: Settings

This class both represents a serializable setting file **and** handles setting files IO. It should at least be separated in two different classes:
- **Settings**, which just contains the data of the setting file, i.e. only the serializable public properties and private fields.
- Some class that is responsible of saving/loading/managing Settings instances.

[2018-04-04 17:43] aleab commented on #65
A couple of weeks ago I started working on some unit tests for some minor classes, like `Song`, `SettingValue` and `Hotkey`. I have them in a local brach.

Also, I'm using `NUnit` as test framework and `FakeItEasy` for mocking.

[2018-04-04 18:13] Vankog commented on #66
I'd say: One step at a time ;-)
(don't hit me ^^)

Yeah, but I myself just looked up some general principles to get started:
https://softwareengineering.stackexchange.com/a/180190:

https://softwareengineering.stackexchange.com/a/180187:

http://www.drdobbs.com/architecture-and-design/making-large-classes-small-in-5-not-so-e/230600127:

https://softwareengineering.stackexchange.com/a/276658

So, y

[2018-04-04 18:14] Vankog commented on #65
Thanks, I'll take this as a starting point for research.

[2018-04-04 18:16] aleab commented on #65
Yep, I'll probably add them tomorrow.

[2018-04-04 18:19] aleab commented on #66
Introducing temporary adapters and wrappers between new and legacy code.

Agreed! 👍

[2018-04-04 18:56] Vankog commented on #66
Have you used the Live Dependency Validatoion Feature of VS before?
https://almvm.azurewebsites.net/labs/tfs/livedependencyvalidation/
This sounds awesome for when the project is in a good state again.

[2018-04-04 19:03] aleab commented on #66
Nope, never used it. I'll take a look at it.

[2018-04-04 20:00] Vankog commented on #65
Some code metrics for the current `Spotify` class for progress tracking and prioritization (horizontal scroll needed):

 _Member_ | _Maintainability   Index (1-100%)_ | _Cyclomatic  Complexity (# of Branches)_ | _Depth of  Inheritance (hierarchy  length)_ | _Class Coupling (# referenced  Classes)_ | _Lines of  Code_
--------------------------|------------------|------------------|-----------------

[2018-04-04 20:59] aleab commented on #65
That's huge! Thanks.
Here's the same metrics sorted by maintainability index: https://gist.github.com/aleab/547fd2f4f6ad3cbc44ad03a03d950e54.

[2018-04-04 21:14] aleab commented on #65
I added the unit tests to master.

[2018-04-05 07:42] Edenost opened #68 "Unhandled Exception"
After updating to v1.10.7 and then to v1.10.8 I receive the error

Unhandled Exception.
Object reference not set to an instance of an object.

This is the log file: https://pastebin.com/X4mq2WRZ

[2018-04-05 07:49] Edenost commented on #68
Toastify still works and I can change settings until I click OK on the Unhandled Exception.

[2018-04-05 09:01] JackyOreo opened #69 "Global Volume Control"
## EXPECTED BEHAVIOUR
Toastify pops up with 'volume up/down' and adjusts the volume of spotify alone.

## ACTUAL BEHAVIOUR
Toestify pops up with 'volume up/down', but doesn't change the volume of spotify.

## STEPS TO REPRODUCE THE BEHAVIOUR
Use volume rocker on keyboard.

## LOG FILE
[Toastify.log](https://github.com/aleab/toastify/files/1879256/Toastify.log)

[2018-04-05 09:34] Vankog commented on #65
You know what? I think its better to just use the exported Excel sheet ^^
Markdown is not really well suited for data visualization.
https://docs.google.com/spreadsheets/d/1ergz_uGnKBEgM3E1BhAxA3Ufv5ZMDPSE67XyZS7jo88/edit?usp=sharing

[2018-04-05 10:34] smur89 commented on #41
Hey @aleab, sorry for not getting back to test, I'm just setting up Toastify again now on v1.10.8.

Working great for me now. Would be great to be able to specify a DNS name for the proxy as well as the IP, that got me for a while, but all good now. Thanks for everything

Cheers

[2018-04-05 10:41] aleab commented on #69
Hi @JackyOreo!
The actual expected behaviour would be to change the global volume in the Windows Volume Mixer, not Spotify's. If you want to change only Spotify's volume (in the mixer) you'd have to use the *"Windows Volume Mixer (Spotify)"* option.
Currently Toastify can't change the internal volume of Spotify, but only the app's volume in the Windows mixer.

Also, the media keys on your keyboard

[2018-04-05 11:11] JackyOreo commented on #69
Hi,
Thanks for the quick answer. I changed the hotkeys to my mediakeys so that works perfectly, though I didn't know it changes the mixers volume of the program, everthing works fine then. I just had to change the volume increments and now I can hear the difference in volume. Awesome program, it helps a ton.
Kind regards,
Jacky

[2018-04-05 11:27] aleab commented on #69
Yeah, I should probably increase the default volume increment value a bit; it causes quite some confusion, I reckon.

Enjoy your music!! :smile:

[2018-04-05 11:29] #69 closed

[2018-04-05 11:36] aleab commented on #68
Hi @Edenost, thanks for the report!
These random unexpected exceptions will most likely be fixed in the next release.

[2018-04-05 14:57] #68 closed

[2018-04-05 15:04] Vankog commented on #27
OK, it seems I need an issue as means to discuss code parts or ask questions. So I just take this one.

https://github.com/aleab/toastify/blob/09ec085ff7ae246e2c7a531353e07e5e11690aa5/Toastify/src/Model/KeyOrButton.cs#L38
Is there any reason to keep this constructor? It seems superfluid and messy to me in comparison to the two simple constructors and I don't see any callers besides your test case.

[2018-04-05 15:25] aleab commented on #27
Unfortunately there is: that's the constructor used by the json deserializer. I didn't want to make the properties' setters public for it, so that constructor is really necessary.

[2018-04-05 15:44] aleab commented on #27
Also, I've just created this public chat room: https://gitter.im/aleab-toastify.
We could move every conversation/discussion there maybe, I think it's better not to abuse Github's issues for that.

[2018-04-06 16:15] #63 closed

[2018-04-06 17:20] claudiopj opened #70 "spotify not avaliable"
Hi,

I'm having trouble setting up toastify. I configured the shortcuts but it is returning the message spotify not avaliable

Please, help me

[2018-04-06 17:58] aleab commented on #70
Hi @claudiopj, I'll help you, don't worry.

Can you post here you latest log file Just drag and drop the file inside the test box, it'll upload it automatically. You can find the latest log file inside `C:\Users\{UserName}\AppData\Local\Toastify`.

[2018-04-06 18:17] claudiopj commented on #70
Hi @aleab,

[Toastify.txt](https://github.com/aleab/toastify/files/1885161/Toastify.txt)
I have not found any logs in this folder. The only folder I found from toastify is inside the roaming folder and inside there is only one XML

Thank you for your help

[2018-04-06 18:41] aleab commented on #70
As @Vankog said, please install the latest version. Version 1.8.3 is pretty old and doesn't work anymore.

[2018-04-06 18:46] claudiopj commented on #70
It worked! Thank you so much for all your help. God bless you!!

[2018-04-06 19:02] #70 closed

[2018-04-11 13:58] aleab commented on #57
@Tumpo that's strange. Do you mind trying out this version?
[ToastifyInstaller.zip](https://github.com/aleab/toastify/files/1899109/ToastifyInstaller.zip)

[2018-04-11 16:20] faridv opened #72 "Cannot connect to Spotify if it's using a SOCKS proxy"
I cannot make Toastify to connect to Spotify if it's connection is using proxy. I use Tor socks proxy and have tried both Toastify settings to add proxy info and manually changing `Toastify.cfg`.
In both cases it gives me this error:
**Invalid proxy settings. Returned error code: NotImplemented**

[code]
Here is the log file: [Toastify.log](https://github.com/aleab/toastify/files/1899615/Toastify.

[2018-04-11 16:32] aleab commented on #72
SOCKS proxies are not supported at the moment. Only HTTP(S) at the moment.

[2018-04-12 08:35] Tumpo commented on #57
@aleab I just noticed that last time I re-applied and did other stuffs (can't really recall what I did, I did many things) and now after several reboots keys have been working nicely without doing anything.

[2018-04-12 18:01] #57 closed

[2018-04-17 15:09] thiagopromano commented on #61
Hey,
I made a Regex that substitutes from the user drive up to one of these "Spotify", "Toastify" to "..."

See if it helps 😉
https://regexr.com/3o26g

[2018-04-25 17:14] brazilian812 opened #73 "Toastify crashes when entering Proxy settings"
My Spotify at work goes through a HTTPS proxy.  I enter the proxy info on the Toastify pop-up, my Spotify? login/password, and Toastify crashes with the following log.  Win8.1 Enterprise, Toastify 1.10.8.6157.  I did uninstall old Toastify with Revo, deleted the recommended files, and installed this fork of Toastify.

Problem signature:
  Problem Event Name:	CLR20r3
  Problem Signature 01:	Toastif

[2018-04-25 17:48] aleab commented on #73
Can you post your latest log file? It's in *C:\Users\\{UserName}\AppData\Local\Toastify*.

[2018-04-25 17:50] brazilian812 commented on #73
[Toastify.log](https://github.com/aleab/toastify/files/1948200/Toastify.log)

Here you go. The log implies that it couldn't connect to the proxy, but the address listed (with port 80) isn't what I enter in the proxy settings, just FYI.  Should I be hitting 'Close' or 'Reset' in the proxy settings window?

[2018-04-25 23:40] aleab commented on #73
@brazilian812, sorry for my delayed response.

The answer to your question is 'Close'.

Anyway, the proxy support is still pretty new in Toastify and mostly not thoroughly tested; for example it still doesn't support Sock proxies and I'm not 100% sure it supports HTTPS ones either.

I'd like to debug this issue further, though. Can you follow a couple of steps for me?

1. Head over to *"C:\Users\\

[2018-04-26 15:46] brazilian812 commented on #73
Very strange.  So Toastify asks if I am behind a proxy, I say Yes, and it opens the window to enter my proxy details.  I enter them, click 'Close' and Toastify immediately crashes and I get Window's "Toastify has stopped working" window.  I click 'Close the program' and Windows pops up with another "Toastify has stopped working" window.  I click 'Close the program' again, it is gone, and I am left

[2018-04-26 16:25] brazilian812 commented on #73
[eventvwr.log](https://github.com/aleab/toastify/files/1952089/eventvwr.log)

[2018-04-26 16:52] aleab commented on #73
Alright, I think I'm on to something, but first I would like to take a look at some file located in *"C:\Users\jtnovack\AppData\Local\Microsoft\Windows\WER\ReportArchive"*; namely *"AppCrash_Toastify.exe_18a2c7246b9c2deb274d5ca39643d70127b6bb1_b4d4029f_3805de8c"*.
If you can't find that file specifically, any file that begins with *"AppCrash_Toastify.exe_"* is fine.
That is a detailed report from

[2018-04-26 16:59] brazilian812 commented on #73
[ReportArchive.zip](https://github.com/aleab/toastify/files/1952198/ReportArchive.zip)

The reports come in pairs (probably since Windows gives me two crash windows) so here is the latest pair from this morning

[2018-04-26 17:27] aleab commented on #73
Unfortunately the reports didn't provide any new information.

Please, try to (re-)install the .NET Framework as I said in my previous post. In the meantime I'll try to test the application in a Windows 8.1 virtual machine to rule out a possible compatibility problem.

[2018-05-14 09:30] NickRJanssen opened #74 "Toastify Crashes when starting"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
Toastify starts, and is use-able

## ACTUAL BEHAVIOUR
When starting Toastify, it crashes with an exception that is unhandled (it's not mentioned what exception)

## STEPS TO REPRODUCE THE BEHAVIOUR
Fresh installation,
Open Toastify
Crash

Fresh installation
Open Spotify
Open Toastify
C

[2018-05-14 17:03] aleab commented on #74
Thanks for the issue report @NickRJanssen.
Can you try to open Spotify, play a song and then open Toastify? It seems like Toastify is having trouble downloading or using some cover art.

If the application crashes again, do you mind posting the Spotify URI of the song you were listening to?
(right click on the song title in the lower-left corner in Spotify > Share > Copy Spotify URI)

[2018-05-15 08:32] NickRJanssen commented on #74
Hi @aleab
It doesn't matter if I first open Spotify, play a song and then open Toastify.
Or that I open Toastify immediately with Spotify and play a song.

The last song I tested this with was: spotify:track:6M4aS1K9ODmG2Tq8QFqQg1

[2018-05-16 12:27] aleab commented on #74
Hi @NickRJanssen.
Do you mind testing [this version](https://github.com/aleab/toastify/files/2009054/ToastifyInstaller.zip)? It's the current master branch with a couple of additional changes.
It probably won't fix your issue, but the generated log file will have additional information that could help.

Ignore the "New Update Available" pop-up when/if it appears.

[2018-05-16 12:44] NickRJanssen commented on #74
This is the log with the new Toastify version
[Toastify.log](https://github.com/aleab/toastify/files/2009131/Toastify.log)

[2018-05-16 14:35] aleab commented on #74
Unfortunately, I can't seem to reproduce the issue on my end, so I just added a couple of blind fixes to the code related to the exception. Can you try this new version for me?

[ToastifyInstaller.zip](https://github.com/aleab/toastify/files/2009536/ToastifyInstaller.zip)

[2018-05-17 11:48] Capiz opened #75 "Hotkey mappings issue"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
![image](https://user-images.githubusercontent.com/2978236/40175507-9bd3457a-59d8-11e8-9ef6-3fb48bced898.png)
When i chose ex. SHIFT for Play, i would expect it to be chosen for Play, only.

## ACTUAL BEHAVIOUR
When i chose ex. SHIFT for Play, it chooses SHIFT for ALL other hotkeys.

#

[2018-05-17 13:03] aleab commented on #75
Hi @Capiz.
Thanks for catching this bug. I'll release an hotfix soon.

[2018-05-22 06:43] NickRJanssen commented on #74
Hi @aleab
It seems that the new installer fixed the issue, in a way that Toastify doesn't crash. so that's a victory.
But I don't see any toasts at all at the moment. It's not critical for me, but i thought you wanted to know

[2018-07-08 11:11] molaachir opened #76 "Combo boxes in settings are not accessible with the Jaws screen reader"
At the moment, it is not possible to access the text in combo boxes with a screen reader.

Expected behaviour: when selecting a combo box in the settings, the screen reader should read out its value.
Actual behaviour: The screen reader reads out what I think is the element ID when a combo box is selected

[2018-07-08 11:40] molaachir opened #77 "Warning key combo already in use by other program is not accessible to screen readers"
Expected behaviour: At some point, when tabbing through the settings pane, I would like to be able to hear the warning that a specific chozen key combo is already in use by another application. Now, I have to try key combo byu key combo, to find out what works

[2018-07-11 12:06] Vankog opened #78 "Ctrl + Drag&Drop doesn't work"
## EXPECTED BEHAVIOUR
The settings pane tells us to drag the toast around by holding Ctrl and using the mouse on the toast.

## ACTUAL BEHAVIOUR
Trying this, only results in a Windows *ding tone

## LOG FILE
Nothing in there.

[2018-07-11 12:13] Vankog opened #79 "Cannot scale album art"
## EXPECTED BEHAVIOUR
Adjusting the album art to adjust to a changed toast size.

## ACTUAL BEHAVIOUR
While the font sizes can be scaled, the album art cannot, which leads to strange visuals when changing the toast size.

## STEPS TO REPRODUCE THE BEHAVIOUR
1. increase toast height and width
1. you can adust the font sizes accordingly
1. you cannot adjust the art size

![toast album size](https://

[2018-07-11 12:16] Vankog opened #80 "Font size scaling is heavily limited"
## EXPECTED BEHAVIOUR
Scaling the font size to adjust to a bigger toast size (kind of necessary for higher-dpi screens) should be possible inside the realm of the toast boundaries.

## ACTUAL BEHAVIOUR
The size is actually limited quite a bit by inner boundaries.

## STEPS TO REPRODUCE THE BEHAVIOUR
1. increase toast height and width
1. increase the fonts

![toast album size](https://user-images.g

[2018-07-19 04:21] greeneryAO opened #81 "bring back thumbs down hotkey"
would this be possible maybe for a separate fork,  I understand it was resource heavy and taken away but I think it would be worth it even so, I might be able to get the old nachmore 1.7.8 source code that had this feature so that might make it easier, it's a crucial function to have it's too bad it's gone.

[2018-07-19 20:46] WolfganP opened #82 "'???' or "Nothing's playing" shown, but hotkeys work"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
Name/author of currently playing track to show, and toast to appear on track change

## ACTUAL BEHAVIOUR
'???' or "Nothing's playing" is shown, sometimes the label of previous action (ie Volume ++), no toast appear on track change but hotkeys all work anyways.
It was working on initial

[2018-07-19 21:00] WolfganP commented on #82
Looking at the API project https://github.com/JohnnyCrazy/SpotifyAPI-NET/issues/254, it seems a change in Spotify local API broke many apps/plugins...

[2018-07-19 21:15] JohnnyCrazy commented on #82
Yup, local API is kinda down right now, not sure if it will come up again.

@aleab you may wanna consider going full web-api :/

[2018-07-22 15:57] Vankog commented on #81
It is gone, because the Spotify changed radically at one point and it wasn't really possible anymore in a sensible way.
I think there are some vague plans to find ways to implement this again, including other things that broke, but that's nothing concrete and needs some serious refactoring first.

[2018-07-22 21:03] greeneryAO commented on #81
thanks for explanation, that would be cool if it were re-implemented, I might try to get it working through autohotkey but I am not a scripter.

[2018-07-25 13:56] ScottBeeson commented on #82
How can Spotify be the best on the market and still suck so much? :(

[2018-07-25 19:58] Vankog commented on #82
Well, there is nothing wrong about this step.
The local API was never meant for open access.

[2018-07-25 20:42] JohnnyCrazy commented on #82
True, but they also never provided an API for desktop applications. The web api has a lot of functionality, but using it in desktop apps without a Backend is not really possible. (Without leaking keys or similar)

[2018-07-30 06:15] wintermute000 opened #83 "Toastify not doing popups (global shortcuts working)"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
Popup shows when track changes in spotify

## ACTUAL BEHAVIOUR
Popups don't happen when tracks change in spotify, whether desktop or tablet mode
Global shortcuts DO work

## STEPS TO REPRODUCE THE BEHAVIOUR
Latest toastify 1.10.8
Spotify from windows store
Win10 Pro 1803
Surface Pro

#

[2018-08-01 13:17] aleab commented on #83
Duplicate of #82

[2018-08-01 13:17] #83 closed

[2018-08-01 13:43] aleab commented on #82
Hi folks! I've been away for a while.
Unfortunately I think Toastify will remain dead for some time. When I'll have more time on my hands I'll probably decide whether to find a solution or abandon the project entirely.

[2018-08-01 14:25] ScottBeeson commented on #82
Too bad. I literally use(d) this every day.

[2018-08-07 20:55] CrazyDavey commented on #82
Agreed -- totally understand, but a huge bummer.  Toastify is so useful.

[2018-08-08 00:11] Element-OP opened #84 "Error message when Toastify attempts to open on Start up"
## EXPECTED BEHAVIOUR
Spotify and Toastify opening on Start up

## ACTUAL BEHAVIOUR
Spotify opening, but an error message from Toastify showing:
![image](https://user-images.githubusercontent.com/42191632/43808911-6ac1d85a-9aee-11e8-9007-457e7ec2408f.png)

## STEPS TO REPRODUCE THE BEHAVIOUR
Not sure :/

## LOG FILE
[Toastify.log](https://github.com/aleab/toastify/files/2268445/Toastify.log)

[2018-08-08 16:18] Vankog commented on #84
Toastify is currently out of service, because of breaking changes on Spotify's side.

A major rewrite is needed to make it work again.

[2018-08-08 21:57] greeneryAO opened #85 "won't start after spotify update"
when I open program it just shows gray spinning icon and doesn't start, tried reinstall, same thing.

[2018-08-08 23:32] aleab opened #86 "[PSA] TOASTIFY IS CURRENTLY OUT OF SERVICE"
Details can be found in issue #82

[2018-08-08 23:35] aleab commented on #84
As @Vankog said, Toastify is unfortunately out of service currently. Subscribe to issue #86 to get notifications about any further update.

[2018-08-08 23:35] #84 closed

[2018-08-08 23:37] aleab commented on #85
Unfortunately, recent changes on Spotify's side broke Toastify (and many other applications). Subscribe to issue #86 if you want to know if/when I'll start working on this issue.

[2018-08-08 23:37] #85 closed

[2018-08-08 23:38] Element-OP commented on #84
Sorry, I missed Vankog's post, but I'll stay tuned for further updates.
Thanks heaps for replying so soon!

On 9 Aug 2018 9:05 am, "Alessandro Attard Barbini" <notifications@github.com>
wrote:

As @Vankog <https://github.com/Vankog> said, Toastify is unfortunately out
of service currently. Subscribe to issue #86
<https://github.com/aleab/toastify/issues/86> to get notifications about
any further u

[2018-08-09 08:26] DiAbLoxx83 commented on #86
I was just investigating why it won't connect "connected = this.localAPI.Connect();".
Thanks for that update, have a nice day!

I love Toastify :)

[2018-08-09 10:50] kino90 commented on #82
Sad to read this.. Toastify is (was?) indeed a great project.. 😢

[2018-08-09 13:49] WolfganP commented on #86
Do anyone knows what's the latest Spotify working version for Toastify?

[2018-08-09 13:51] DiAbLoxx83 commented on #86
The version 1.0.85.259 works fine.

[2018-08-09 14:21] aleab commented on #86
@ItzQuiet I'm sorry, but that would change very little.
You'll still be able to control Spotify's playback (which is wonderful!), but the toast (the core of Toastify) won't work.

[2018-08-09 19:12] juliusdeblaaij opened #87 "Which proxy details do I use?"
Hi there, when trying to start Toastify it displays this message:
![image](https://user-images.githubusercontent.com/16763204/43919999-fff1ba74-9c17-11e8-9924-32186f055474.png)
I have ProtonVPN installed which would maybe cause the problem (it`s turned off though).
Which settings do I use?
Host: IPV4 address,
but which username and password to use, my router's credentials don't seem to work?
Thank

[2018-08-09 19:15] aleab commented on #87
Doesn't matter actually, since Toastify doesn't currently work because of recent changes on Spotify's side.
Check out #86.

[2018-08-09 19:25] aleab commented on #86
@juliusdeblaaij None if you want toast notifications. If you only want to control Spotify's playback (i.e. you only need the global hotkeys), then every version of Spotify up to 1.0.86.* should work.

[2018-08-10 10:14] #75 closed

[2018-08-10 10:18] aleab commented on #86
Hi folks!
I've done some changes to let Toastify start correctly with the latest version of Spotify (1.0.87.*). This doesn't fix the bigger issue, but you'll be able to use Toastify's hotkeys without unnecessarily downgrading Spotify.

Download the new release v1.10.9 [here](https://github.com/aleab/toastify/releases/tag/v1.10.9)!

[2018-08-10 10:30] juliusdeblaaij commented on #87
With the release of v1.10.9 and the current release of Spotify (1.0.87.*) this issue is now resolved.

[2018-08-10 10:30] #87 closed

[2018-08-10 13:25] IdleMuse commented on #86
Cheers for keeping this alive just for the global hotkeys, that's the large part of what I use it for anyway.

[2018-08-10 13:32] CrazyDavey commented on #86
Ditto to what IdelMuse just said.  The hotkeys are 95% of its value to me, so I appreciate you taking the time to release a version for just that.

[2018-08-10 13:54] Elenkhos opened #88 "Hotkey for Stop"
Could you add a hotkey to stop the music? It existed in the original version and it was extremely useful in some cases. Play/Pause doesn't work because it starts the music if it is paused and that's not what I want when executing some AutoHotkey scripts.

Or could you give a hint to right direction how to stop media (with AutoHotkey or some other way)? For some reason `Send, {Media_Stop}` doesn't

[2018-08-10 14:35] aleab commented on #88
Sure, I can add it!

[2018-08-10 15:02] aleab commented on #88
I'll release a version with the new hotkey soon™ when I've fixed a bunch of other issues.

Autohotkey's `Send {Media_Stop}` or `SendInput {Media_Stop}` work fine for me, except occasionally when some control in some window is focused or expecting input, I suppose.

[2018-08-10 16:12] ifailsnoopy commented on #86
Thank you thank you so much for keeping this alive!

[2018-08-11 00:47] Elenkhos commented on #88
Great, thanks!

Well, that's interesting. I tried every send mode and Spotify indeed shows the desktop overlay with input and event modes but the music doesn't stop if Spotify is minimised to tray (or the window isn't active). In order to work Spotify window must be _active_.

I would of course prefer sending commands directly with AutoHotkey but for some reason there is this limitation that Spoti

[2018-08-11 11:02] aleab commented on #88
It works fine for me when Spotify is minimized to the tray.
However, it doesn't work if I enable the *"Show desktop overlay when using media keys"* option in Spotify. Go figure... It's definitely a bug on Spotify's end.

[2018-08-11 13:00] Elenkhos commented on #88
Yes, I tried disabling the desktop overlay and got the same behaviour. So this is Spotify's bug like you said. I [reported](https://community.spotify.com/t5/Desktop-Windows/Bug-Media-Stop-when-minimised-to-tray/td-p/4545335) this in Spotify community but my past experiences tell that it's higly unlikely they would ever fix this issue.

Well, now I have to choose between desktop overlay and stop co

[2018-08-11 19:11] Elenkhos commented on #88
You have been extremely helpful @aleab! I really appreciate your efforts.

I have used the same code to get the right window id for Spotify. I have used it to automatically search for lyrics and read out loud the now playing info. And also to display a little notification with the same info since Toastify stopped working. Quick screenshot:

![image](https://user-images.githubusercontent.com/398010

[2018-08-11 19:46] aleab commented on #88
Happy I could be of help! 😃

[2018-08-12 10:28] Elenkhos commented on #88
I will post this if someone is interested. An alternative way to identify the right Spotify window:
[code]
I'm not sure which one is more efficient 🤔

[2018-08-12 11:43] Elenkhos commented on #88
Good improvement! In fact, my startup script starts playing music just before this main script is executed so I didn't notice (yet) that there would be this issue if the music isn't playing.  But with regex it's easily avoided. Thanks again for your sharp thinking!

[2018-08-13 09:23] Cyronix86 opened #89 "Boot Crash"
## EXPECTED BEHAVIOUR
Start Toastify > Toastify starts Spotify

## ACTUAL BEHAVIOUR
Error Box
[Toastify.log](https://github.com/aleab/toastify/files/2282428/Toastify.log)
![untitled](https://user-images.githubusercontent.com/42339851/44023654-ec450346-9ee2-11e8-9f93-c78cd364c495.png)

[2018-08-13 09:26] pko-github commented on #86
Thanks for the fix! I mostly use the toast with the "show toast" hotkey to check what (Spotify-suggested) song I'm listening to. Perhaps that could be supported well using the web API without too many calls? (Since the calls would only be done after pressing the hotkey)

[2018-08-13 10:55] aleab commented on #89
Apparently Toastify can't find Spotify. Is it installed correctly (Spotify)? Which version do you have installed? The desktop version or the one from the Windows store?

If you have the desktop version can you execute the following command in the Windows command prompt (cmd) and see what it returns?

[code]

[2018-08-13 11:15] WegPast commented on #89
Same problem here, I have the desktop version of spotify.
Spotify is correctly installed.

Your command return me that the key doesn't exist.

[2018-08-13 11:26] Cyronix86 commented on #89
System was unable to find reg key

[2018-08-13 11:27] Cyronix86 commented on #89
Seems I have the app store spotify

[2018-08-13 11:29] Cyronix86 commented on #89
Yeah toast works fine once spot is already running, I'll try a fresh desktop version install.

[2018-08-13 11:53] aleab commented on #89
@WegPast @Cyronix86

That's odd! 🤔
What about these commands?
[code]

[2018-08-13 12:04] Cyronix86 commented on #89
![image](https://user-images.githubusercontent.com/42339851/44030683-78de033c-9ef9-11e8-8c45-dda396f577cc.png)

[2018-08-13 12:06] Cyronix86 commented on #89
![image](https://user-images.githubusercontent.com/42339851/44030744-a36290e6-9ef9-11e8-8f66-c3ffea452d98.png)

[2018-08-13 12:17] aleab commented on #89
I know where the problem is. Until I release the fix, starting Spotify first is the only workaround.
I'll keep you posted.

[2018-08-13 12:39] Cyronix86 commented on #89
Great, thanks!

[2018-08-13 20:17] ViridianImpact opened #90 "Wont connect to Spotify, requests me to input a proxy"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
launch Toastify and use.

## ACTUAL BEHAVIOUR
after 2 minutes closes with the error
![toastify error](https://user-images.githubusercontent.com/31230393/44055706-0b411862-9efb-11e8-9775-719d93e8ea6c.PNG)

## STEPS TO REPRODUCE THE BEHAVIOUR
Happens every launch

## LOG FILE
[Toastify.l

[2018-08-13 20:50] aleab commented on #90
Hi @ViridianImpact!

You are using an old version of Toastify, which doesn't work anymore (see #86 for details).
Download the newest release [here](https://github.com/aleab/toastify/releases/tag/v1.10.9).

[2018-08-13 20:57] #90 closed

[2018-08-14 20:45] bartuszekj commented on #86
As a temporary workaround, maybe something as simple as displaying the Spotify window title in the toast would suffice? When a song is playing, Spotify's title window is set to "Artist - Track". I know it's rudimentary, but it's better than nothing. Thoughts?

[2018-08-15 07:26] pko-github commented on #86
That would work for me.

[2018-08-22 08:03] oskarmar commented on #46
I don't know if this thread is the correct, but searching my error I see it's simmilar so I attach my log hoping you can help me.
The problem is that when I start Toastify first it shows a window error (attached).
If I start first Spotify and then Toastify, it works fine.

BTW thank you very much for your work. I like it very much... 👍 😃
![captura de pantalla 2018-08-22 10 01 29](https://user-imag

[2018-08-22 09:35] aleab commented on #46
@oskarmar Can you confirm that you have the Windows Store version of Spotify? If that's the case, I already have a fix ready to be released soon™ (see #89).

[2018-08-22 10:00] oskarmar commented on #46
Yeap,

I have the Windows Store version of Spotify.

I'll be waiting for the fix... 👌

Thanks again!!!

El mié., 22 ago. 2018 a las 11:36, Alessandro Attard Barbini (<
notifications@github.com>) escribió:

[2018-08-23 00:34] lazyb5 commented on #86
I would like to see that solution implemented if possibly better then nothing. Why song toasts isn't a native feature is beyond me.

[2018-08-25 22:45] bartuszekj commented on #86
Thanks for taking my suggestion under consideration, @aleab! Eagerly awaiting the next release now!

[2018-08-27 18:05] Geestarraw opened #91 "Verified new Trojan found in version 1.10.9!"
I got a warning from my Norton Antivirus about version 1.10.9. I've sent the binary file to them for analyzation and got a confirmation back to them that there is a Trojan in the package.

I previously got a warning with version 1.10.8 but that turned out to be a false positive and Norton flagged after analyzation that file as OK. Version 1.10.9 is however not!

Here is the mail from Norton:

This

[2018-08-27 18:51] aleab commented on #91
Analysis reports from VirusTotal:
* [ToastifyInstaller.exe](https://www.virustotal.com/#/file/c662b6e8d9376771c15fbf7a01d5d0dccd98f1d49b6d7cbfec9d73c8efaddee7/detection)
* [Toastify.exe](https://www.virustotal.com/#/file/0867d87f114616e62b3895b4b52ece653b96cb2be1495fbbb28229f66199ee52/detection)
* [ToastifyAPI.dll](https://www.virustotal.com/#/file/9ec4a792b2d44f1a815b56d80f606fae47e46b9423137b5bf

[2018-08-27 18:52] #91 closed

[2018-08-27 19:29] Geestarraw commented on #91
I'm a developer myself and I read enough code at and outside of office and don't have any time going through your source code as well. :)

I'm not reporting this issue to mess with you. But if a big antivirus company like Symantec analyzes a file in their sandbox environments and finds a new threat adding it to their hash algorithms 2 hours later I would take that seriously. I don't know if they w

[2018-08-27 20:13] aleab commented on #91
Unfortunately I don't have the will nor the time to find out what's causing this false positive with Norton and other antivirus softwares. It's most likely just the NSIS installer which is causing it, but I can't really be bothered trying to rewrite it using another installation system.

Symantec is undeniably big, but is also known for its huge amount of false positives, which makes it very very

[2018-08-29 19:07] TehCupcakes commented on #86
While I like the idea of a local workaround, it's not quite as robust or future-proof as consuming the API. I'm thinking about adding Web API functionality. Even if it is a tad delayed (say 5 seconds), that is totally acceptable to me personally. I'm wondering just how bad it is. Does anyone know what rate limits the api applies and how many requests are we talking for a single toast?

[2018-08-29 20:37] aleab commented on #86
@TehCupcakes, the local workaround would only be temporary.
I'm not sure about the rate limits applied by Spotify and there's no definitive number mentioned in the documentation ([rate limiting](https://developer.spotify.com/documentation/web-api/#rate-limiting)).

As for the number of requests, I'm not sure about that either. We could easily get away with making a single request to [`/player`](ht

[2018-08-29 21:36] aleab commented on #86
I like this!

[2018-08-31 16:02] aleab commented on #86
Version [1.10.10](https://github.com/aleab/toastify/releases/tag/v1.10.10) of Toastify is out!

[2018-08-31 16:03] aleab commented on #88
Closing the issue as this has been implemented in [v1.10.10](https://github.com/aleab/toastify/releases/tag/v1.10.10).

[2018-08-31 16:03] #88 closed

[2018-08-31 16:04] aleab commented on #89
Closing the issue as this has been fixed in [v1.10.10](https://github.com/aleab/toastify/releases/tag/v1.10.10).

[2018-08-31 16:04] #89 closed

[2018-08-31 16:09] #76 closed

[2018-08-31 16:09] heamaral opened #92 "Invalid arguments"
Just updated to the latest version and I got the following error:
![error image](https://i.imgur.com/ZMsA90j.png)

[2018-08-31 16:14] aleab commented on #92
Well, that's particularly odd!
I just tested the release build on my machine and it's the same. I tested the debug version like 10 minutes ago and there were no issues.

I'll look into it!

[2018-08-31 16:46] aleab commented on #92
Found the (silly!) problem. I'll release an hotfix very soon.

[2018-08-31 16:51] WolfganP commented on #86
Thanks @aleab ! Does it work with the latest Spotify version or some specific old one is required?

[2018-08-31 16:52] bartuszekj commented on #92
Same here. Thanks for taking care of it so quickly @aleab!

[2018-08-31 17:00] aleab commented on #92
Done! Fixed in [v1.10.11](https://github.com/aleab/toastify/releases/tag/v1.10.11).

[2018-08-31 17:00] #92 closed

[2018-08-31 17:01] aleab commented on #86
@WolfganP It works fine with the latest version.

[2018-08-31 18:59] heamaral opened #93 "Settings file are not beign loaded"
If I change some hotkey and save, when I restart toastify the settings returns to defaults.

[2018-08-31 19:42] aleab commented on #93
Side-effect of poorly tested major changes to the hotkeys. I'm sorry! 😞
I'll look into this issue on Monday and release another hotfix afterwards.

[2018-08-31 22:26] lazyb5 commented on #86
Working great with windows store version. Thanks for implementing the workaround!

[2018-09-01 11:03] Bas950 opened #94 "Settings not being saved."
My settings are not being saved if I restart toastify or my pc.
The key settings are being saved but enable or disable the setting doesn't work.

Also Volume up and down isn't working but that might be due to the settings not being saved the right way.

[2018-09-01 11:10] aleab commented on #94
Volume hotkeys work fine on my end.
Everything else is a duplicate of #93.

[2018-09-01 11:10] #94 closed

[2018-09-02 09:06] yogan commented on #93
I noticed this as well, happens with the v1.10.11 release. I switched back to v1.10.9 for that reason, where it still works fine (I don't need the song info feature, just having hotkeys is fine for me).

What I also noticed with v1.10.11: while I was trying to re-configure my hotkeys, I could set the checkbox for the Windows key. It would be set initially, but after saving or selecting another act

[2018-09-02 14:15] heamaral opened #95 "Directory not found after installing in windows7"
%LOCALAPPDATA%\Toastify folder should be created during install or initialization.

![](https://i.imgur.com/5Bcf6Fs.png)

[2018-09-02 15:52] aleab commented on #95
I'm pretty sure the installer should take of that. I'll take a look later.
Thanks for all these bug reports! 👍

[2018-09-03 08:44] aleab commented on #93
Fixed in the latest release: [v1.10.12](https://github.com/aleab/toastify/releases/tag/v1.10.12).

[2018-09-03 08:44] #93 closed

[2018-09-03 08:45] aleab commented on #95
Fixed in the latest release: [v1.10.12](https://github.com/aleab/toastify/releases/tag/v1.10.12).

[2018-09-03 08:45] #95 closed

[2018-09-03 08:45] aleab commented on #94
Fixed in the latest release: [v1.10.12](https://github.com/aleab/toastify/releases/tag/v1.10.12).

[2018-09-05 19:05] aleab commented on #94
@MBS17 If I understood correctly, that's the expected behaviour!

Spotify's own, in-app volume, if that's what you are referring to, can't be controlled; what Toastify can change is just what the OS exposes, and that is the Volume Mixer:

![Windows Volume Mixer](https://vgy.me/vEUZL1.png)

When *"global volume"* is selected, the system-wide volume is changed (the one associated with "Headset" in t

[2018-09-05 21:00] MBS17 commented on #94
Got it. Thanks. On the PC is working correctly. On Spotify Connect to my AVR, the Spotify Mixer Slide keeps moving on the PC, but it does nothing to the sound coming from the AVR (as opposed for instance to my iPad, where I can control de AVR volume via the iPad). But from what I gather from your explanation, this seems right with how the PC connects to outside Sound Speakers... Or not? Thanks any

[2018-09-06 11:32] aleab commented on #94
@MBS17

I'm guessing you are using the volume slider inside Spotify on your iPad to control the volume of the AVR. Right?

Unfortunately, I'm not familiar with AVRs, so I have no clue on how they work. I can only make a guess.
If your AVR has built-in Spotify (many from Denon do, I think) and is connected to the internet, I guess the music is not being reproduced from your PC (and then streamed to

[2018-09-06 15:33] Geestarraw commented on #91
I sent the file to the Norton whitelisting page and they have now changed their status. Even latest 1.10.12 works fine now without any warnings.

[2018-09-17 08:59] iliutastoica opened #96 "waiting for spotify"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
*Toastify should connect to spotify (1.0.89.313.g34a58dea) *

## ACTUAL BEHAVIOUR
*Toastify does not connect to spotify (1.0.89.313.g34a58dea) *

## STEPS TO REPRODUCE THE BEHAVIOUR
*update spotify to latest 1.0.89.313.g34a58dea *

## LOG FILE
[Toastify.log](https://github.com/aleab/to

[2018-09-17 10:41] aleab commented on #96
The latest version of Spotify doesn't seem to be available yet for me and only v1.0.88.* is downloadable from the official site.

As soon as it becomes available I'll look into it.

[2018-09-17 18:02] aleab commented on #96
My Spotify just updated, but I can't seem to be able to reproduce the issue.
Can you try to start Toastify from the command line with the `--debug` argument while having Spotify closed and then post the new log file again (once Toastify has closed)?

[2018-09-17 19:44] PlPt commented on #96
Same Problem here.
Toastify can't connect to Spotify version 1.0.89.313.g34a58dea when spotify is already running.
When I close Spotify and run Toastify, Spotify is run from Toastfy an then the connection can be established an it works without problems.
Only the reconnect to an running Spotify instance is the problem

[2018-09-17 20:03] aleab commented on #96
@PlPt Try doing what I said above, ignoring the *while having Spotify closed* part.
Start Spotify, then start Toastify from the command line with `--debug`, let it wait for ~1 minute until it times out, close it and then post your log file here.

[2018-09-18 14:18] PlPt commented on #96
It seems that Toastify can't find the spotify process when spotify is started before Toastify.
In the taskbar it says: "Waiting for spotify..."
See in attached log.
[Toastify.log](https://github.com/aleab/toastify/files/2393045/Toastify.log)

[2018-09-18 17:50] aleab commented on #96
Can you run the following powershell script and then post here the result?
Replace `C:\Program Files\Toastify` in the first two lines with your Toastify directory.

https://pastebin.com/TWdP4PSr

[2018-09-19 06:43] ruudschouten commented on #96
I ran it and got the following result:

[code]

[2018-09-19 10:08] aleab commented on #96
@ruudschouten Thank you! That's very useful. They changed the name of Spotify's main window when you have Premium.
I'll release a fix for this soon.

[2018-09-19 10:39] aleab commented on #96
Should be working properly now in [v1.10.14](https://github.com/aleab/toastify/releases/tag/v1.10.14).

[2018-09-19 13:10] ruudschouten commented on #96
Just tested this, and the waiting is gone.

[2018-09-19 15:54] PlPt commented on #96
Ok it's fixed 👍  thanks
It works for me although I have an Spotify free

[2018-09-19 16:09] aleab commented on #96
@PlPt That's odd, I might have fixed other unexpected issues, then.
It's not important now since it's solved, but did the issue originally happen when Spotify was playing some music, when it was paused but with a song in the queue or with nothing queued?

[2018-09-19 16:11] PlPt commented on #96
In happened in both of your mentioned scenarios

[2018-10-25 22:20] Cr8zyIvan opened #97 "Comma (",") as a shortcut key not a valid key?"
## EXPECTED BEHAVIOUR
Using the comma (",") as a shortcut key

## ACTUAL BEHAVIOUR
Not possible. Toastify inscribes "OemComma" in the "Press a Key:" text box and there is a message underneath that says "You must select a valid key for your hotkey."

The period (".") as a shortcut key is accepted and I wonder why the comma (",") is not.

## STEPS TO REPRODUCE THE BEHAVIOUR
Restarting the computer a

[2018-10-25 22:37] aleab commented on #97
Thanks for reporting the issue @GaXve!
This is definitely a bug, although I'm not sure about what might be causing it. I'll look into it as soon as possible.

[2018-11-04 23:57] xaarock opened #98 "Unhandled exception pop up"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
Music will change to next song whilst in fullscreen game

## ACTUAL BEHAVIOUR
Toastify crashed upon switch to next song, tabbed out of game "Unhandled exception"
## STEPS TO REPRODUCE THE BEHAVIOUR
Launch toastify and play music whilst playing a fullscreen game

## LOG FILE
*(Drag and

[2018-11-05 19:50] aleab commented on #98
Hi @xaarock and thank you for the bug report!

Unfortunately, however, I couldn't reproduce your issue. I've tried a bunch of games (specifically, Mass Effect Andromeda, Dragon Age Inquisition, The Witcher 3, Divinity: Original Sin 2, Sid Meier's Civilization V, Quake Live), both in *"real"* fullscreen and borderless windowed fullscreen mode, and Toastify didn't crash upon changing song.

1. What

[2018-11-09 17:29] xaarock commented on #98
Note: The other games I play are all windowed fullscreen, I will test it with another fullscreen game.

[2018-11-10 12:33] aleab commented on #98
That log file has been really helpful, thanks!
Can you check if this version of Toastify works now? [ToastifyInstaller.zip](https://github.com/aleab/toastify/files/2568388/ToastifyInstaller.zip)

I'll have to wait for a friend of mine to let me test it with his copy of CS:GO before actually releasing a new version, though.

[2018-11-17 20:23] lunananananananana opened #99 "Unhandled Exception when opening Toastify"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
Toastify starting and working as normal

## ACTUAL BEHAVIOUR
Unhandled Exception when opening Toastify (see the image for a screenshot)
![popup.png](https://user-images.githubusercontent.com/29987831/48665454-db583400-eaae-11e8-9fd8-bf1720248e30.PNG)

## STEPS TO REPRODUCE THE BEHAVIOU

[2018-12-02 09:06] quinnr commented on #86
Hello! Just discovered Toastify and love it, even in its (apparently stunted) state. Any progress on this? Shame that the Spotify's API support was thrown in the trash like it was.

Was looking for some ideas to try and help out with pull requests but it does seem like the issues are mainly on Spotify's end :(

Only thing I can think of is that at least on my computer it only shows the Toastify lo

[2018-12-03 16:08] Maximus02 opened #100 "Global Hotkeys Not Working In Fullscreen Game"
hi
now im not the most experienced person in this matter so it might be on my end but while im playing a game in full screen specifically league of legends the global hotkeys do not work and toast doesn't appear so is that on my end or..?
anyhelp would be appreciated

[Toastify.log](https://github.com/aleab/toastify/files/2640217/Toastify.log)

[2018-12-03 16:17] aleab commented on #100
Hi @Maximus02
Which hotkey doesn't work specifically? Or is it all of them?
Unfortunately the toast can't be displayed on top of the game, if that's what you expected to happen.

[2018-12-03 16:56] aleab commented on #86
@quinnr I've already worked on implementing Spotify's Web API to be able to get album arts and more accurate info about a song's title/artist(s).
I still have to fix a bunch of other stuff and be sure that everything works as expected, though. It may take a while since I don't have much time to work on Toastify right now.

If you are interested in helping out, the current master branch in this rep

[2018-12-04 07:54] Maximus02 commented on #100
well ok its fine if the toast cant appear
and yes none of the hotkeys are working

[2018-12-06 00:11] henkhumes opened #101 "Global hotkeys do not work while using Matlab running as administrator"
Expected behaviour: Hotkeys working

Actual behaviour: Hotkeys do nothing; instead the keys operate on the Matlab interface (i.e. when I hit shift+space, it inserts a space in the Matlab editor)

This does not happen when Matlab is not run as administrator. I don't know if this happens with other programs run as administrator.

[2018-12-07 07:19] Maximus02 commented on #100
so is it on my end or??

[2018-12-22 12:17] GarryPlays commented on #50
OMG! thanks for that. I think the preset changed or something. At least it stopped working for me.
But yes, it was set to Spotify, doesn't do a thing for me, global works now great as before (didn't know that feature was there)
Windows 10 home, no other keygrabber installed

[2019-01-02 09:45] MartinBriza commented on #99
This keeps happening to me each time I attempt to start Toastify. I'm on Windows 10, the Store version of Spotify. I tried the build you sent to #98 but it didn't help.

[2019-01-02 19:10] Vankog commented on #99
Have you used an older version of Toastify? It looks as if the json parser cannot parse the config file.
Please try deleting the Toastify folder in
`%appdata%`

[2019-01-02 19:13] MartinBriza commented on #99
Nice tip, thanks. I have indeed used Toastify for quite a while but deleting the folder doesn't change anything, unfortunately.

[2019-01-02 23:36] aleab commented on #99
Hi @laurinneff @MartinBriza. Sorry for the **very** late reply.
I'm not sure what is going on here, I might need both your settings and log files to figure it out. The former is in `%AppData%\Toastify`, the latter in `%LocalAppData%\Toastify`.

[2019-01-05 15:05] #98 closed

[2019-01-09 19:21] 3tes opened #102 "Volumen hotkeys doesent work"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
It should turn the Volumen

## ACTUAL BEHAVIOUR
It does nothing
[Toastify.log](https://github.com/aleab/toastify/files/2742258/Toastify.log)

[2019-01-09 23:05] aleab commented on #102
Hi @3tes!
Please, check my answers to issues #50, #69 and #94; in particular, read [this message](https://github.com/aleab/toastify/issues/94#issuecomment-418845888) posted in issue #94.

If none of those answers are able to help you solve your issue, get back with more details.
- Which hotkey is not working (volume up/down or both)? Are the other hotkeys working fine?
- What keys are you specific

[2019-01-10 19:04] 3tes commented on #102
Thank you It helped

[2019-01-10 19:04] #102 closed

[2019-01-12 13:09] laurinneff commented on #99
Here are the files you requested
[ToastifyConfig.txt](https://github.com/aleab/toastify/files/2752012/ToastifyConfig.txt)
[Toastify.log](https://github.com/aleab/toastify/files/2752013/Toastify.log)

[2019-01-25 21:31] Bas950 commented on #100
I have the same, none of them are working on fullscrene games. Could you look into this? Thanks!

[2019-01-25 21:35] Bas950 opened #103 "Save song to file, but when no song is playing have the file be cleared."
As the title states, when there is no song playing have the file be clear or you can put in other custom text.

[2019-02-06 17:45] abcasada opened #104 "Feature request: add option to display every new song that starts"
This suggestion is to have an option that causes Toastify to appear automatically every time a new song starts, wait for a preset length of time, then disappear automatically.

[2019-02-06 22:17] abcasada opened #105 "Feature request: update Toastify icon to match current Spotify icon"
The Toastify icon no longer matches Spotify's icon - the partial circle near the bottom was removed. See screenshot [here](https://imgur.com/a/j7834r5).

[2019-02-07 07:38] Vankog commented on #104
You mean, like disabling this option?
![toast](https://user-images.githubusercontent.com/3804909/52396891-b1ae1800-2ab3-11e9-9a01-f5b5e83110ff.png)
;-)

[2019-02-07 07:45] Vankog commented on #105
Maybe.
However, from a legal standpoint it it might already be questionable in its current form. Just changing the color is basically not enough to not count as copyright/trademark infringement. So it is better to keep it a bit different to Spotify's current icon to let sleeping dogs lie.

[2019-02-08 20:34] abcasada commented on #105
Ah, yes, that's what I wanted. I had seen that option and didn't realize what it was for.

I'm wondering if one of the following would be easier for new users to understand:

(Checked by default) Show Toastify for every new song
(Unchecked by default) Disable Toastify from appearing for every new song

The first explains it to the user the way I personally imagined to be best. The second explains

[2019-02-08 20:37] abcasada commented on #105
Also, I'm not yet a frequent user of Github; should I modify the issue to my current suggestion/request, or mark it closed and create a new one, or just leave it to have the comment to show my current understanding and suggestion?

[2019-02-08 20:38] abcasada commented on #104
Ah, yes, that's what I wanted. I had seen that option and didn't realize what it was for.

I would request changing the default. Additionally, I think one of the following would be easier for new users to understand:

(Checked by default) Show Toastify for every new song
(Unchecked by default) Disable Toastify from appearing for every new song

The first explains it to the user the way I personall

[2019-02-08 20:39] abcasada commented on #104
Also, I'm not yet a frequent user of Github; is it preferred to modify the issue to my current suggestion/request, or mark it closed and create a new one, or just leave it to have the comment to show my current understanding and suggestion?

[2019-02-08 20:39] abcasada commented on #105
Ah, I see, and agree. Thanks for the info.

[2019-02-08 20:39] #105 closed

[2019-02-14 01:11] trash-anger opened #106 "How Authentication is handled ?"
Hi,

This is not really a bug but more a question about how does the authentication works...

I know toastify use SpotifyAPI-NET to work.
SpotifyAPI-NET implements the 3 auth methods :
- ImplicitGrantAuth
- AuthorizationCodeAuth
- CredentialsAuth

But I see no reference of it in the toastify code.
There is also no need for an app grant during the first use.

How does it works ?

[2019-02-14 01:22] trash-anger commented on #106
After few research it seams to be in ToastifyWebAuthAPI.dll.
I assume it's not open sourced... the thing is that I would like to do something similar on osx.
The goal would be to develop an app which would show the artist name and the song in the touchbar on the macs.

[2019-02-14 12:07] IdleMuse commented on #86
If the Album art is 'sort of working', would it be possible to build a beta release or something? Cheers!

[2019-02-14 14:15] aleab commented on #106
Hi @trash-anger
Yep, you are correct, the auth code is in *ToastifyWebAuthAPI.dll* and I haven't open sourced it; I can share most of it, but I don't think it will be of great help to you since I'm using a lot of Windows API functions in there.

I'm not using SpotifyAPI-NET for the auth, I just implemented my own following [Spotify's guides](https://developer.spotify.com/documentation/general/guid

[2019-02-14 14:31] aleab commented on #86
@IdleMuse of course it's possible. Unfortunately, I don't have any time at all to work on Toastify anymore, but I can release all I've worked on as is.

[2019-02-15 02:24] Talsaymaree opened #107 "spotify authorization with facebook"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
When I click on login with facebook I should be able to log in

## ACTUAL BEHAVIOUR
nothing happens

[2019-02-15 10:45] picressant commented on #107
Same problem for me with v1.11.0

[2019-02-15 12:21] wezzix opened #108 "How can I play pause from C# code?"
Toastify is great, thank you for your hard work!
I'm tired of maintaining my own API for basic spotify actions which they constantly break, and would like to shift in toastify source. **I'm looking specifically for a code snippet, test, class or similar of how to play/pause** in code. Could you please point me in the right direction? Thanks!

[2019-02-15 14:01] aleab commented on #108
Hi @wezzix

Assuming a Windows-only use-case, the solution can be as simple as emulating the media virtual keys (*VK_MEDIA_PLAY_PAUSE* in your case) using e.g. the [`keybd_event`](https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-keybd_event) function.

[code]

I can't remember why exactly, but I ditched this solution myself because it wasn't working consistently, so I ended

[2019-02-15 22:24] FruitBWC commented on #107
Same here

[2019-02-16 07:54] bahari15 opened #109 "Spotify Authorization Script Error"
I just finished updating to the new version of toastify, and always got this particular error during the authorization.
I'm using windows 8.1 and FYI the album cover still doesn't show up on my toast notifications.

![screenshot 353](https://user-images.githubusercontent.com/36342630/52896445-9309f880-31fa-11e9-8fa4-0b98eab58833.png)

[2019-02-16 08:00] bahari15 commented on #109
And apparently because of this error my toastify is no longer working, despite me playing various songs toastify always shows that "nothing is playing."

[2019-02-16 08:50] Vankog commented on #104
This depends on the project it's size and their maintainers.
I think for here: Just change the title and add a remark at the top about the changed focus.

[2019-02-16 16:19] #107 closed

[2019-02-16 16:19] #109 closed

[2019-02-16 16:30] aleab commented on #107
This should be fixed in [v1.11.1](https://github.com/aleab/toastify/releases/tag/v1.11.1). Apologies for the buggy release.

[2019-02-16 16:30] aleab commented on #109
This should be fixed in [v1.11.1](https://github.com/aleab/toastify/releases/tag/v1.11.1). Apologies for the buggy release.

[2019-02-16 18:27] wezzix commented on #108
keybd_event did not work unless Spotify was in foreground. So PostMessage it is. My smart home now works again. Thank you kindly for your help!

[2019-02-16 18:27] #108 closed

[2019-02-18 16:20] bahari15 opened #110 "I still can't authorize toastify and the toast has "paused" word above"
![screenshot 355](https://user-images.githubusercontent.com/36342630/52963727-23029a80-33d3-11e9-8622-98f42e5afc58.png)

Just like the screenshot above shows, my authorization process stuck in perpetual loading.

![screenshot 354](https://user-images.githubusercontent.com/36342630/52963905-9d331f00-33d3-11e9-83ed-3fac799f0d88.png)

Also, after updating to the new version, there's a big "Paused" wo

[2019-02-18 16:30] aleab commented on #110
The auth process works perfectly fine on my end, and without any log file I can't really do anything.

Regarding the paused thing, I experienced that as well. Clicking pause/play a couple of times or switching song (or waiting for the current one to end) seemed to fix the issue. It generally happens at startup and only occasionally from what I've seen.

[2019-02-19 09:37] maxthiel opened #111 "Authorising Toastify fails to complete"
## EXPECTED BEHAVIOUR
After login through a browser window, you should be redirected to Toastify or Spotify without problem.

## ACTUAL BEHAVIOUR
After authorising Toastify, you get redirected to an unreachable page at `http://localhost/auth_redirect.html`

## STEPS TO REPRODUCE THE BEHAVIOUR
* Install v1.11.1 of Toastify
* Update Spotify to the latest release
* Launch Spotify then Toastify
* Foll

[2019-02-19 20:44] abcasada opened #112 "Toastify shows "Nothing's playing" incorrectly briefly before updating"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
Toastify waits until it has the correct info before displaying

## ACTUAL BEHAVIOUR
Toastify displays "Nothing's playing" for a few seconds before displaying the actual item that's playing

## STEPS TO REPRODUCE THE BEHAVIOUR
1. Open Spotify
2. Start music playing
3. Pause music
4. Ope

[2019-02-19 20:52] abcasada commented on #104
Thanks for the suggestion, @Vankog. I have updated the title and first comment.

[2019-02-20 02:11] Cruxin opened #113 "Toast Notification Sometimes Shows Previous State"
## EXPECTED BEHAVIOUR
The toast notification shows what song/state is currently playing

## ACTUAL BEHAVIOUR
It sometimes shows the previous state. This includes the last song, or showing the current song playing when paused, showing it paused when paused and then unpaused, etc.

## STEPS TO REPRODUCE THE BEHAVIOUR
Run Spotify and Toastify and use as normal

## LOG FILE
[Toastify.log](https://gith

[2019-02-20 15:47] aleab commented on #113
Hi @Cruxin.
This is a known issue as specified in the release notes of [v1.11.0](https://github.com/aleab/toastify/releases/tag/v1.11.0).

[2019-02-20 16:27] aleab commented on #112
Hi @abcasada.

Unfortunately I'm not able to reproduce your issue. I followed your steps multiple times and the toast **never** displayed "Nothing's playing".
On the other hand, if I skip steps 2 and 3 the toast does indeed display "Nothing's playing" until step 5, but that is the expected behaviour since Spotify's Web API doesn't provide any info about the playback context until you play a song.

[2019-02-21 00:13] Cruxin commented on #113
@aleab I had assumed that the issue was different as it's not cause by "spamming" buttons for me, but if it is the same problem then that's all okay.

[2019-02-21 02:34] aleab commented on #113
Well, "spamming" is indeed the wrong term (my bad); from my quick testing, changing song more frequently than once every 1 or 2 seconds *might* result in the toast not updating to the current song straight away or completely getting stuck and never changing again.
Since I'm not sure about what the problem actually is, it's likely that other actions can cause this issue.

[2019-02-21 03:08] aleab commented on #111
Hi @maxthiel.
Is the issue just the page being unreachable or is the authorization not completing successfully?
In other words, are you able to see the album arts on the toast after the login/authorization?

The `/auth_redirect.html` page is just a low effort confirmation page, so I can easily move that here on Github. Accessing it through the local server was the first thing that crossed my mind

[2019-02-21 11:32] maxthiel commented on #111
Hi,

I think the auth worked, as I'm now seeing the cover in the toast, and I don't get a request for auth any more.
Not sure if it's because my :80 port might already be used by some other program, so you might have the possibility to use a custom port for the local server?

Thanks!

[2019-02-21 17:02] aleab commented on #111
Yep, I could use a custom port, but not a random one unfortunately since it needs to be registered beforehand on the Spotify's dev page.
I'm currently trying to re-design the auth flow to to be able to use a random port.

[2019-02-21 20:51] liviaalmeida commented on #110
I'm experiencing the same issue regarding the "Paused"

[2019-02-21 22:27] chuzzle44 commented on #110
Hi. I've been using this program for a few months now and want to say thank you to everyone involved as it works very well. I just let it update and ran into this very same issue. It always thinks that the song is paused. I switched back to the version 2 releases ago, before the Web-api feature was added and it works perfectly again. Also, the authentication page in Firefox simply gives me an erro

[2019-02-22 12:21] aleab commented on #110
@chuzzle44. I've been asked to release the feature as-is since it was working fine on my end and I couldn't work any more on it due to limited time. If the current version is not working for you, you have the option to rollback to v1.10.4 (which you did, gratz). Removing the feature now would be kind of dumb.

[2019-02-25 08:19] cuaroc98 opened #114 "Access token has to be manually refreshed at every startup"
With Facebook I have to authenticate Toastify everytime my pc starts up

## EXPECTED BEHAVIOUR
Only authenticate once

## ACTUAL BEHAVIOUR
Have to authenticate every time the pc starts up

## STEPS TO REPRODUCE THE BEHAVIOUR
- start toastify
- authenticate with facebook
- log out of facebook
- restart pc
- start toastify

## LOG FILE
*(Drag and drop your `Toastify.log` file here; it can be found i

[2019-02-25 08:20] cuaroc98 commented on #114
Sorry I forgot the log file, here it is:

08:51:39.581+01:00 INFO  [Toastify.EntryPoint.LogSystemInfo, 144] (1) – :: ====================================================================== ::
08:51:39.596+01:00 INFO  [Toastify.EntryPoint.LogSystemInfo, 144] (1) – :: [Architecture] IntPtr: 64bit, Is64BitProcess: True, Is64BitOS: True    ::
08:51:39.596+01:00 INFO  [Toastify.EntryPoint.LogSystemInfo,

[2019-02-25 08:52] mikedorst opened #115 "Interference with XAMPP"
With the latest update toastify now interferes with XAMPP.

If you don't know XAMPP, it's a program to let programmers develop websites in localhost, it provides an apache and mysql server. Whenever I have toastify open I am no longer able to access localhost pages but as soon as I turn it off it works again.

XAMPP uses the following ports by default:

![image](https://user-images.githubuserconte

[2019-02-25 09:19] sinnvoll commented on #110
Thanks fr the great work,
I just wanted to add that I have the same issue.
When Spotify Web API is enabled, toastify opens the spoitfy authorization page and although I can see toastify in my Spoitfy's authorized App's page, I get redirected to a localhost/?code=.. page that results in a 404 error (and the Spoitfy auth page opens everytime I start toastify)

Additionally, toastify started to crash

[2019-02-25 09:30] sinnvoll opened #116 "Toastify crashes when closing Spotify"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
Toastify doesn't crash when I'm closing Spotify.

## ACTUAL BEHAVIOUR
Toastify crashes with:
[code]

Although ToastifyBroadcaster is disabled.

## STEPS TO REPRODUCE THE BEHAVIOUR
1.) Open Toastify
2.) Toastify starts Spotify
3.) close Spotify
4. Toastify crashes

## LOG FILE
[Toastify

[2019-02-25 09:59] mikedorst commented on #115
Somehow seems to work after an hour or so. Not sure what was wrong.

[2019-02-25 09:59] #115 closed

[2019-02-25 14:46] aleab commented on #110
Hi @sinnvoll. The reason you see no album art is that the authorization has not completed successfully because of the 404 issue (the client hasn't received the access token, i.e. the `code`); I have changed the auth flow entirely and this issue, and similar ones, will hopefully all be fixed in the next release.
The "paused" issue will also be fixed in the next release.

[2019-02-25 14:48] #73 closed

[2019-02-25 14:48] #61 closed

[2019-02-25 15:01] aleab commented on #115
This will be fixed in the next release.

[2019-02-25 15:26] aleab commented on #116
Hi @sinnvoll. Thanks for the report. The errors reported by the log file will be fixed in the next release.

[2019-02-26 18:32] JeffreyPauletto opened #117 "How do I try to authenticate with Spotify again?"
The first time I tried to authenticate with Spotify, it failed, and I have the "Toastify has no Access Token!" red circle in the settings by "Enable Spotify WebAPI".  I want to try and authenticate again, but I don't see any way to get that to happen.  Suggestions?

[2019-02-27 09:08] Aerozolic commented on #49
Any update regarding this?

[2019-02-27 10:39] miaulightouch opened #118 "authenticate failed when other process listening port 80"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
browser should pass the token to toastify.

## ACTUAL BEHAVIOUR
port 80 is listened by other process, toastify would never get the token.

## STEPS TO REPRODUCE THE BEHAVIOUR
1. start a web server and listen on 80.
2. start toastify and auth.

## LOG FILE
*(Drag and drop your `Toastify

[2019-02-27 13:06] aleab commented on #118
Will be fixed in the next release.
2772e4d

[2019-02-27 13:12] aleab commented on #117
Such a feature exists but unfortunately I forgot to expose it to the user after the changes in v1.11.1. The only way to perform the authentication again is to go to `%LocalAppData%\Toastify` and remove the file named `spotify-token.sec`.

[2019-02-27 15:39] JeffreyPauletto commented on #117
Removing that file worked - thanks!

[2019-03-05 04:01] warizzmann commented on #118
also this makes me unable to run my apache (i use XAMPP) because the port is being used by toastify.

[2019-03-08 18:47] desigi opened #119 "WebAPI becomes inactive after pausing for a while"
## EXPECTED BEHAVIOUR
*WebAPI should remain active after having paused a song for 15 minutes or more*

## ACTUAL BEHAVIOUR
*The WebAPI becomes inactive (red icon in the Toastify settings) after pausing a song for 15 minutes or more. The toast notifications remain on the last played song even after changing songs. Toastify needs to be restarted to re-enable the WebAPI*

## STEPS TO REPRODUCE THE BE

[2019-03-21 02:13] dcraig327 opened #120 ""Show Spotify" Hotkey will not restore prior window's focus"
When using the Show Spotify Global Hotkey two times in quick succession, the previous window which had kb&m focus will not regain that focus. Instead, the focus will remain on Spotify, which is minimized.

[2019-03-24 14:43] Vankog commented on #114
dito

[2019-03-26 12:37] hartmark commented on #114
+1

[2019-03-26 12:41] hartmark commented on #106
@aleab would you like to put the code into the public domain on a github repo with solution files and a simple todo for setting it up.

[2019-03-26 16:26] WolfganP commented on #86
@aleab I read your comments about not having much time to dedicate to Toastify, so let me start with thanking you for the work so far.
I noticed that there were some commits after the latest release https://github.com/aleab/toastify/releases/tag/v1.11.1 , would it be possible for you to post whatever you got after those sporadic changes?
I mean, whatever is easier for you, even if it's not an inst

[2019-03-27 17:21] desigi opened #121 "Authentication no longer occuring"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
*New browser tab opens up when Toastify is started asking for Spotify authentication.*

## ACTUAL BEHAVIOUR
*New browser tab opens with the following text:*
`Missing required parameter: client_id`

## STEPS TO REPRODUCE THE BEHAVIOUR
*1. Start Toastify*

## LOG FILE
*[Toastify.log](htt

[2019-03-27 18:13] WolfganP commented on #121
Same here, it started happening a few days ago (but I can't remember if it was in sync with an update on the Spotify client, now sitting at v1.1.2.285.ga97985ef in my PC)

[2019-04-12 07:04] Minighost opened #122 "Spamming Previous Song shortcut makes Toast Notification display the wrong song"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
Display current song playing.

## ACTUAL BEHAVIOUR
Displays a different song than the current one.

## STEPS TO REPRODUCE THE BEHAVIOUR
In a song queue, on the 3rd+ song, spam the "Previous song" keyboard shortcut. Toastify then refuses to show the current song playing until playing a

[2019-04-21 20:40] vinlind opened #123 "Toast notification lags behind one keybind input"
## EXPECTED BEHAVIOUR
The toast will display the proper song in the proper state

## ACTUAL BEHAVIOUR
The toast displays the previous state and/or song

## STEPS TO REPRODUCE THE BEHAVIOUR
Use the "Show toast" keybind

## LOG FILE
[Toastify.log](https://github.com/aleab/toastify/files/3101580/Toastify.log)

[2019-04-23 15:47] PedroS11 commented on #118
Yeah, I have the same problem as @warizzmann. My .Net core API uses port 80 and I needed to change that.

[2019-05-07 21:17] Belphemur commented on #17
@aleab Since you have the authentication now, could this feature be added ?

It would be great to be able to "Save to favourite song" directly from a shortcut :)

[2019-05-08 01:25] ian70203 opened #124 "[Feature Req.] Toast Notification getting longer depending on Title & Artist Length"
Hi, I just found this app after searching for something like this. I was wondering if the toast can get longer depending on the length of the title & artist name.
![image](https://user-images.githubusercontent.com/10983868/57342790-908ab100-710e-11e9-8e19-d3fa2580fb3b.png)
Here's "What We Need Are Some Heroes" by Steam Powered Giraffe as an example.

[2019-05-08 13:37] Waliactico opened #125 "Toasts stop working properly after a while"
## EXPECTED BEHAVIOUR
Toasts should work as intended for the entire session.

## ACTUAL BEHAVIOUR
After a while (around 30 minutes), toasts no longer show the updated track information. They also won't show when next song reproduces.
It seems to have something to do with the authorization access token, as log shows the access token is expired, and on restart, Toastify asks again for permissions.

[2019-05-26 17:35] Pinapleu opened #126 "[Feature Request] Favourite Button"
## THE IDEA
Add a new shortcut that lets us add or remove a song from favourite
## Possible combos
Ctrl + F
Ctrl + Alt + F

[2019-05-31 09:23] Barnickal commented on #110
I have been using Toastify for a week (or trying to) but it won't authorize. I see the Toastify auth screen for Spotify, then click Agree and get a 404. My hotkeys also don't work but I guess this is linked to the first issue? Thanks.

[2019-06-10 16:35] Goro2030 commented on #111
I'm still seeing this behavior. After the failure described above, everything works fine. But the credentials aren't saved, so each time I start Toastify again, Chrome is opened to authenticate my Spotify account.

[2019-06-28 20:40] cronack1 commented on #126
I would also really enjoy this feature. A toast notification indicating whether the song was favorited or unfavorited would also be in order.

If devs are reading, I LOVE TOASTIFY. :)

[2019-06-30 04:06] phillfolk commented on #100
I found that if you use CTRL + "anykey", toastify works in-game.... Don't know why but it does

[2019-07-02 05:01] MaxwellRU commented on #111
@Goro2030 same here

[2019-07-02 12:15] WolfganP commented on #111
Same behavior here. Toastify seems to work anyways, so maybe is not a critical page to display.

[2019-07-26 09:00] goldstar2154 opened #127 "[Question] Kestrel web server at port 80"
Right now toastify uses kestrel web-server at 127.0.0.1:80, can you please explain me for what exactly this did?

netstat -a -b
TCP    127.0.0.1:80           DESKTOP-S7AM32P:0      LISTENING
 [Toastify.exe]

Current problem with my own proxy server that need to listen port 80

[2019-07-29 14:03] 2tolik opened #128 "[Feature Request] Remove from playlist shortcut"
API seems to be there.
Would be extremely useful to UI-ess clean-up of playlists (such as Discovery Weekly (Archive))
Currently it is very cumbersome via Desktop and Mobile clients.

[2019-08-02 11:13] Dijir opened #129 "[Feature Request] Compatibility with idagio application"
It would be interesting to support idagio too:
https://www.idagio.com/

The interface is very similar to spotify.

[2019-08-04 19:21] boomerek commented on #111
same issue here

[2019-08-31 13:57] Kushweez opened #130 "Unable to connect to the websocket server ws://localhost:41348"
Hi,
I confess that I am not experimenting in coding but I try to find solutions to reach my end.
I wish I could be help if it's possible and I apologize in advance for my shitty english.
**## EXPECTED BEHAVIOUR**

I would like to connect in Websocket on the local server toastify

**## ACTUAL BEHAVIOUR**

I get an error code 1006 ws: // localhost: 41348 or ws: // toastify: 41348
port 41348 is well

[2019-09-06 18:58] fragande commented on #111
I had the same problem but I think I've been able to solve it. I observed that the Spotify WebAPI indicator was red even after approving the authentication page and that there was no `spotify-token.sec` file in `%LocalAppData%\Toastify`. After unchecking the `Read-only` attribute of the `%LocalAppData%\Toastify` the `spotify-token.sec` file is created successfully and the WebAPI indicator turns gr

[2019-09-06 19:05] fragande commented on #125
Check if https://github.com/aleab/toastify/issues/111#issuecomment-528974604 solves your problem.

[2019-09-06 19:11] fragande commented on #114
This may solve your issue, it did for me: https://github.com/aleab/toastify/issues/111#issuecomment-528974604

[2019-09-08 17:56] Goro2030 commented on #111
Tried what you suggested, but I'm still getting:

This site can’t be reached

*localhost* refused to connect.

   - Search Google for localhost auth redirect
   <https://www.google.com/search?q=localhost%20auth%20redirect>

ERR_CONNECTION_REFUSED

Saludos,
Mariano
[image: cloudHQ]
<https://chrome.google.com/webstore/detail/free-email-tracker/nknojfclnachdkpdkjbbhbkgpnladhnj>
Powered
by
cloudHQ
<ht

[2019-09-10 22:36] fragande commented on #111
I don't think that matters. I think that redirect is only supposed to be a local confirmation page, it doesn't actually do anything. The important thing is that the 'spotify-token.sec' is created. Unfortunately it seems like the token still expires after some time to the Toast stops working. It will however be refreshed next time you start Toastify without requiring a new authorization.

[2019-09-11 06:18] Goro2030 commented on #111
It is important seems to ... as I'm being asked for the Facebook
authorization each time I start Toastify....

On Tue, Sep 10, 2019 at 7:36 PM fragande <notifications@github.com> wrote:

[2019-09-11 12:29] aleab commented on #130
Hi @Kushweez.
The correct URL for WebSocket communication is `ws://localhost:41348/ws/toastify`.

I haven't tried Construct 3, but the code snippet I published in the wiki ([here](https://github.com/aleab/toastify/wiki/Toastify-Broadcaster)) still works fine using Chrome DevTools.

[2019-09-13 13:04] Speeko commented on #127
My guess is this would be related to the new authentication updates.

[2019-09-18 14:43] Moliescul888 opened #131 "Toast won't show up over certain games"
## EXPECTED BEHAVIOUR
Toast overlay shows on top of all games (just like Discord overlay)

## ACTUAL BEHAVIOUR
It doesn't (in Mirror's Edge Catalyst at least), perhaps because it doesn't have a borderless window setting

## STEPS TO REPRODUCE THE BEHAVIOUR
Launch Toastify then launch a game (presumably one that doesn't have borderless window)

[2019-09-23 16:16] Mr-Gela commented on #131
Playing League of Legends on borderless windowed mode, Toastify hotkeys won't work while the focused window is that one.

[2019-10-12 16:09] EddY431 commented on #121
I have this issue now, Is there a known fix?

[2019-10-23 12:18] exLightning opened #132 "[Feature Request] Change audio output with hotkey"
Title pretty much says it all, Option to set up hotkeys to toggle between available outputs (or inputs for other people maybe?) through Toastify.

I have a rainmeter button on my desktop that does this but I'd much prefer hotkey support through Toastify so I don't have to alt+tab out of programs.

I know there are other programs that can do this (SoundSwitch) but I'd prefer if I didn't have to hav

[2019-11-06 21:38] Allanale opened #133 "Spotify WebAPI"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
I don´t know

## ACTUAL BEHAVIOUR
It doesn´t work

## STEPS TO REPRODUCE THE BEHAVIOUR
Use toastify

## LOG FILE
There is no .log file

[2019-11-12 19:19] mikesurfing opened #134 "authorization request on and on"
If this is a crash, bug or unexpected behaviour report, please use the following template.

## EXPECTED BEHAVIOUR
Hi, Toastify is working perfectly. However, each time I open my laptop I am receiving a new page on my google chrome with Toastify authorization request, Even though it has been re-authorized dozens of time already..it keeps asking me same question each time..any solution for that ? :)

[2019-11-23 08:31] GabHook opened #135 "Volume Control Mode"
## EXPECTED BEHAVIOUR
Setting **Volume control mode** to: **Windows Volume Mixer (Spotify only)** the volume increase/decrease short cut should change the volume of Spotify in the Windows volume mixer.

## ACTUAL BEHAVIOUR
It changes the global volume in the volume mixer instead of Spotify's volume.

## STEPS TO REPRODUCE THE BEHAVIOUR
In the settings change the **Volume control mode** to: **Windo